@import '../vars.less';

html{
	body{
		.titulo{
			padding-top:30px;
			& > h1{
				.opensans(28px);
				color:@roxo;
				margin:0 0 15px 0;
			}
		}
		.faixa-roxa{
			background:@roxo;
			h1{
				padding:20px 0 18px 0;
				text-align:center;
				color:@branco;
				line-height:140%;
				margin:0;
				.opensans(36px;)
			}
			h2{
				margin:0 0 20px 0;
				text-align:center;
				color:@branco;
				line-height:140%;
				.opensans(24px;)
			}
			ul.lista-areas{
				margin-top:55px;
				display:block;
				list-style: none;
				font-size: 0;
				padding:0;
				margin:0;
				position:relative;
				& > li{
					.inline;
					//width:145px;
					width:12.5%;
					height:230px;
					& > a{
						text-align:center;
						height:230px;
						padding:30px 35px 0 35px;
						background:@roxo;
						color:@amarelo-claro;
						.opensans(16px);
						.arredondada(145px 145px 0 0);
						display:block;
						.transition;
						&:active, &:visited{color:@amarelo-claro;}
						&:hover{
							color:@branco;
						}
						span{
							display:block;
							line-height: 130%;
						}
						img{
							display:block;
							margin:0 auto 10px auto;
							max-width: 55px;
							width:100%;
						}
					}
					.texto-atuacao{
						display: none;
						z-index:999;
						position:absolute;
						left:0;
						top:85%;
						background: @magenta;
						padding:40px;
						width:100%;
						.arredondada(0 0 100px 0);
						.texto{
							opacity:0;
							width:515px;
							color:@amarelo-claro;
							line-height: 120%;
							.inline;
							.fauna(16px);
						}
						.links{
							opacity:0;
							width:300px;
							margin-left:110px;
							.inline;
							ul.lista-servicos{
								margin:0;
								padding:0;
								list-style: none;
								li{
									a{
										color:@amarelo-claro;
										.opensans(14px);
										.transition;
										&:active, &:visited{color:@amarelo-claro;}
										&:hover{
											color:@branco;
										}
									}
								}
							}
						}
					}
					&.aberto{
						a{
							background:@magenta;
							color:@branco;
						}
						.texto-atuacao{
							display:block;
							.texto, .links{
								opacity:1;
							}
						}
					}
				}
			}
		}
		.ilustracao{
			padding:70px 0 100px 0;
			img{
				display: block;
				margin:0 auto;
			}
		}
		.conteudo-servicos{
			.centralizar{
				font-size: 0;
				aside{
					//width:400px;
					width:34%;
					.inline;
					ul{
						padding:0;
						margin:0;
						list-style: none;
						li{
							&:first-child h2{margin-top:0;}
							h2{
								margin:7px 0 3px 0;
								.opensans(14px);
								text-transform: uppercase;
								color:@petroleo;	
							}
							a{
								.opensans(14px);
								color:@turquesa-claro;
								.transition;
								&:active, &:visited{color:@turquesa-claro;}
								&:hover, &.ativo{color:@branco;}
							}
						}
					}
				}
				section{
					//width: 760px;
					width:66%;
					padding-bottom: 90px;
					.inline;
					.detalhe{
						padding:60px 50px;
						background:@petroleo;
						margin-bottom:20px;
						.arredondada(0 0 190px 0);
						h1{
							.opensans(36px);
							text-transform: uppercase;
							color:@turquesa-claro;
						}
						.texto{
							.fauna(16px);
							line-height:26px;
							color:@turquesa-claro;
							margin-bottom:30px;
						}
						.relacionados{
							h2{
								.opensans(24px);
								color:@turquesa-claro;
								margin-bottom:15px;
								span{
									text-transform: uppercase;
								}
							}
							a.relacao{
								.inline;
								margin:0 10px 10px 10px;
								width:200px;
								height:200px;
								position:relative;
								overflow: hidden;
								.arredondada(200px);
								&:hover{
									.imagem img{
										// Era uma correção para tirar a margem branca das bolinhas,
										// Mas causou um comportamento estranho no hover intent
										//opacity:0.3;
										//.transition-delay(.3s);
									}
								}
								.imagem{
									overflow: hidden;
									position:absolute;
									top:0;
									left:0;
									z-index:1;
									width:200px;
									height:200px;
									.arredondada(200px);
									img{
										max-width: 100%;
										//.transition-delay(0s);
									}
								}
								.capa{
									overflow: hidden;
									background:@petroleo-medio;
									position:absolute;
									top:-200px;
									left:-200px;
									z-index:2;
									width:200px;
									height:200px;
									text-align: center;
									padding-top:25px;
									.arredondada(200px);
									h1{
										margin:0;
										line-height: 100%;
										color:@turquesa-escuro;
										.opensans(11px);
									}
									h2{
										margin:10px auto;
										line-height: 135%;
										max-width: 170px;
										text-transform: uppercase;
										color:@amarelo;
										.opensans(16px);
									}
									p{
										color:@branco;
										.fauna(11px);
										padding:0 20px;
										line-height: 140%;
										margin-bottom:4px;
									}
									ul{
										margin:0;
										padding-left:2px;
										li{
											.inline;
											margin:0 1px;											
										}
									}
								}					
							}
						}
					}
					.outras-areas{
						padding:40px 30px 30px 0;
						background:@roxo;
						text-align: right;
						.arredondada(190px 0 0 0);
						h2{
							.fauna(14px);
							color:@amarelo-claro;
							margin:0 0 25px 0;
							padding:0;
							line-height: 100%;
							span{
								text-transform: uppercase;
							}
						}
						.lista-outras{
							height:130px;
							a{
								//width:90px;
								width:12.5%;
								color:@amarelo-claro;
								text-align:center;
								line-height: 140%;
								margin-left:7px;
								.opensans(15px);
								.inline;
								.transition;
								&:active, &:visited{color:@amarelo-claro;}
								&:hover{color:@branco;}
								img{
									display:block;
									margin:0 auto 10px auto;
								}
								span{

								}
							}
						}
					}
				}
			}
		}	
	}
}