@import '../vars.less';

html{
	//overflow-x: hidden;
	//overflow-y: scroll;
  	//-webkit-overflow-scrolling: touch;
  	//min-width: 100%;
	background:@turquesa-escuro;
	body{
		header{
			background:@turquesa-escuro;
			height: 278px;
			.faixaTopo{
				height:36px;
				line-height:36px;
				color:@turquesa-claro;
				overflow: hidden;
				position: relative;
				z-index:9999;
				.opensans(16px);
				#linksTopo{					
					.inline;
					height:36px;
					line-height:36px;
					margin:0 0 0 5px;
					list-style: none;
					position: relative;	
					li{
						height: 36px;
						white-space: nowrap;
						a{
							color: transparent;
   							text-shadow: 0 0 5px rgba(128,193,199,0.8);
							height: 36px;
							display:block;
							background-color:@petroleo;
							.transition(all, .3s, ease-in);
							&:active, &:visited{color:@turquesa-claro;}
							position:relative;
							&:after{
								position:absolute;
								top:0;
								left:0;
								display:block;
								content:attr(data-clone);
								color:@branco;
								width:0;
								overflow: hidden;
								.transition;
							}
						}
						&.activeSlide{
							a{
								color:@turquesa-claro;
								text-shadow: 0 0 0;
								&:hover{
									&:after{
										width:100%
									}
								}
							}
						}
					}
				}
			}
			#menu-principal{
				height:242px;
				position:relative;
				overflow:hidden;
				.centralizar{
					position:relative;
					#hamburguer-link{display:none;}
					#logo-link{
						width:222px;
						height:222px;
						display: block;
						position:absolute;
						top:20px;
						left:0;
						z-index:99;
					}
					.marca{
						max-width:495px;
						width:auto;
						position:absolute;
						top:20px;
						left:0;
						z-index:9;
						img{
							max-width:495px;
							width:auto;
						}
					}
				}
				nav{
					position: relative;
					z-index:99;
					margin-top:90px;
					margin-left:0px;
					float:right;
					text-align:right;
					ul{
						margin:0;
						list-style: none;
						font-size:0;
						display:block;
						text-align:center;
						&.superior{
							.inline;
							margin-right:32px;
							padding:0 10px;
							height:25px;
							line-height:25px;
							background:@amarelo;
							.arredondada(13px);
							.opensans(14px);
							li{
								&:after{
									content:"·";
									color:@roxo;
									.inline;
									.opensans(14px);
								}
								&:last-child:after{display:none;}
								a{
									.inline;
									padding:0 12px;
									color:@roxo;
									&:active, &:visited{color:@roxo;}
									&:hover, &.ativo{color:@branco;}
								}
							}
						}
						&.inferior{
							padding:0 10px;
							height:32px;
							line-height:32px;
							background:@roxo;
							.arredondada(16px);
							.opensans(16px);
							li{
								&:after{
									content:"";
									background-color:@magenta;
									width:1px;
									height:26px;
									margin-top:3px;
									.inline;										
								}
								&:last-child:after{display:none;}
								a{
									.inline;
									padding:0 17px;
									color:@amarelo;
									&:active, &:visited{color:@amarelo;}
									&:hover, &.ativo{color:@branco;}
								}
							}
						}
						li{
							.inline;
							a{
								display:block;
								text-decoration:none;									
								.transition(color,.3s,ease-in);
							}
						}
					}
				}
			}
			@media @xlarge{
				&.sticky{
					& > #menu-principal{
						position:fixed !important;
						left:0;
						top:0;
						width:100%;
						white-space:nowrap;
						background:@turquesa-escuro;
						z-index:9999;
						height:60px;
						.centralizar{
							#logo-link{
								position: absolute;
								left:0;
								top:0;
								width:40px;
								height:40px;
								margin-top:7px;
								background:url('../images/layout/kombi-menu.png') center center no-repeat;
							}
							img{
								display:none;
							}
						}
						nav{
							width:1100px;
							margin-top:0px;
							margin-left:60px;
							float:left;
							text-align:left;
							ul{
								float:left;
								&.superior{
									margin-top:16px;
									margin-right:0;
									li{
										a{
											padding:0 8px;
										}
									}
								}
								&.inferior{
									margin-top:13px;
									li{
										a{
											padding:0 12px;
											font-size:15px;
										}
									}
								}							
							}
						}
					}
				}
			}
		}
		#conteudo-principal{
			min-height:700px;
			background:@turquesa-escuro;
			#conteudo-swap{
				
			}
		}		
		footer{
			background-color:@petroleo;
			.columns{
				border-right:1px #4F6C78 dotted;
				&:last-child{border-right: none;}
				.footer-pad{
					padding:35px 10px;
					h2{
						color:@branco;
						margin-top:0;
						line-height: 100%;
						.opensans(20px);
					}
					p{
						color:@branco;
						line-height: 150%;
						.opensans(12px);
						a{
							color:@branco;
							.transition;
							&:active, &:visited{color:@branco;}
							&:hover{color:@amarelo}
						}
					}
					h3{
						color:@branco;
						margin-bottom: 2px;
						.fauna(10px);	
					}
					form{
						input[type="text"],
						input[type="email"]{
							border:0;
							padding:0 3px;
							width:100%;
							display:block;
							height:12px;
							line-height:12px;
							margin-bottom:2px;
							background-color:@petroleo-medio;
							color:@turquesa-escuro;
							.fauna(10px);
							.placeholder(@turquesa-escuro);
						}
						textarea{
							border:0;
							padding:0 3px;
							width:100%;
							display:block;
							height:100px;
							margin-bottom:2px;
							background-color:@petroleo-medio;
							color:@turquesa-escuro;
							resize:none;
							line-height: 120%;
							.fauna(10px);
							.placeholder(@turquesa-escuro);	
						}
						input[type="submit"]{
							display:block;
							text-align: right;
							color:@branco;
							background:transparent;
							border:0;
							padding:0;
							cursor:pointer;
							width:100%;
							.fauna(10px);
							.transition;
							&:focus{outline:0;}
							&:hover{color:@amarelo;}
						}
					}
					#resposta-footer-form{
						.opensans(14px);
						margin-top:20px;
						display:none;
						color:@amarelo;
						text-align: center;
					}
					ul{
						list-style:none;
						margin:0;
						padding:0;
						li{
							margin:0;
							line-height: 105%;
							a{
								color:@branco;
								.fauna(11px);
								.transition;
								&:active, &:visited{color:@branco;}
								&:hover{color:@amarelo;}
							}
						}
						& + ul{
							margin-top:20px;
						}
					}
					.assinatura{
						color:@branco;
						line-height:140%;
						.opensans(9px);
						img{
							margin-top:22px;
						}
					}
				}
			}			
		}
	}
}

h1#pagenotfound{
	display:block;
	padding:100px 0;
	text-align:center;
	color:#000;
	.arial(30px);
}
.bg-branco{background-color:@branco};
.bg-petroleo{background-color:@petroleo};
.bg-petroleo-medio{background-color:@petroleo-medio};
.bg-turquesa-escuro{background-color:@turquesa-escuro};
.bg-turquesa-claro{background-color:@turquesa-claro};
.bg-roxo{background-color:@roxo};
.bg-magenta{background-color:@magenta};
.bg-rosa{background-color:@rosa};
.bg-amarelo{background-color:@amarelo};
.bg-amarelo-claro{background-color:@amarelo-claro};