@import '../vars.less';

html{
	.faixa-amarela-escuro{
		padding:35px 0 15px 0;
		background:@amarelo;
		figure{
			img{}
			figcaption{
				color:@branco;
				text-align:center;
				margin-top: 10px;
				.fauna(10px);
			}
		}
		section{
			p{
				color:@roxo;
				line-height: 140%;
				clear:left;
				.fauna(14px);
			}
			h2{
				color:@roxo;
				margin-bottom:20px;
				.opensans(30px);
			}
			figure{
				margin-left:0;
				img{}
			}
		}
	}
	.branding{
		h2{
			color:@branco;
			.opensans(20px);
			text-align: center;
			margin:40px 0;
		}
		.listaBranding{
			padding-bottom: 70px;
			li{
				padding:0 2px 2px 0;
				a{
					position: relative;
					display: block;
					height:180px;
					background:rgba(255,255,255,1);
					img{
						position: absolute;
						top:50%;
						left:50%;
						-moz-transform: translateX(-50%) translateY(-50%);
						-webkit-transform: translateX(-50%) translateY(-50%);
						-o-transform: translateX(-50%) translateY(-50%);
						-ms-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
					}
					.transition;
					&:hover{background:rgba(255,255,255,.8);}
				}
			}
		}
	}
}