@import '../vars.less';

html{
	.faixa-amarela{
		padding:35px 0 15px 0;
		background:@amarelo-claro;
		figure{
			img{}
			figcaption{
				color:@roxo;
				text-align:center;
				margin-top: 10px;
				.fauna(10px);
			}
		}
		section{
			p{
				color:@roxo;
				line-height: 140%;
				clear:left;
				.fauna(14px);
			}
			h2{
				color:@roxo;
				.opensans(30px);
			}
			figure{
				margin-left:0;
				img{}
			}
		}
	}
	.lista-areas-comunicacao{
		padding:35px 0 80px 0;
		.contem-area{
			margin-bottom:90px;
			figure{
				margin:0;
				img{
					width:auto;
					max-width: 100%;
					display:block;
					margin:0 auto;
				}
			}
			h2{
				text-align:center;
				color:@turquesa-claro;
				margin:20px 0 10px 0;
				.fauna(24px);
			}
			p{
				width:100%;
				max-width:350px;
				margin:0 auto;
				color:@turquesa-claro;
				text-align: center;
				.fauna(14px);
			}
		}
		.link-final{
			margin:0 0 60px 0;
			a{
				display:block;
				height:100px;
				line-height:100px;
				background:@amarelo;
				color:@roxo;
				padding:0;
				width:100%;
				max-width: 830px;
				margin:0 auto;
				text-align: center;
				.opensans(23px);
				.transition;
				&:active, &:visited{color:@roxo;}
				&:hover{background-color:@amarelo-claro;}
			}
		}
	}
}