@import '../vars.less';

html{
	.conheca{
		#navegacao-conheca{
			ul{
				margin:0;
				padding:0;
				list-style: none;
				font-size:0;
				li{
					.inline;
					a{
						background:@amarelo;
						display:block;
						color:@roxo;
						padding:0 5px;
						height: 25px;
						line-height: 25px;
						.transition;
						.opensans(14px);
						&:active, &:visited{color:@roxo;}
						&:hover, &.ativo{color:@branco;}
					}
					&:first-child a{
						padding:0 7px 0 20px;
						.arredondada(20px 0 0 20px);
						&:after{
							content:"·";
							color:@roxo;
							.opensans(14px);
							margin-left:11px;
						}
					}
					&:last-child a{
						padding:0 20px 0 7px;
						.arredondada(0 20px 20px 0);
						&:before{
							content:"·";
							color:@roxo;
							.opensans(14px);
							margin-right:11px;
						}
					}
				}
			}
		}
	}
	.principal{
		.perfil{
			.faixa-escura{
				background: @petroleo-medio;
				font-size: 0;
				margin:30px 0 45px 0;
				padding:30px 0;
				aside{
					.inline;
					//width:355px;
					width:28%;
					//margin-right:95px;					
					margin-right:5%;
					h1{
						color:#fff;
						.opensans(30px);
						span{
							font-size:50px;
						}
					}
					h2{
						color:@turquesa-claro;
						.fauna(30px);
					}
					p{
						color:@branco;
						.fauna(14px);
					}
				}
			}
			section{
				.inline;
				//width:1160px - 355px;
				width:67%;
				p{
					color:@branco;
					.fauna(16px);
				}
				.galeria{
					margin-top: 20px;
					.imagem{
						.inline;
						width:30%;
						height:30%;
						margin-bottom:10px;
						position:relative;
						&:after{
							position:absolute;
							left:0;
							top:0;
							width:100%;
							height:100%;
							-webkit-box-shadow:inset 0 0 0 130px rgba(0,145,158,0.4);
							box-shadow:inset 0 0 0 130px rgba(0,145,158,0.4);
							content:"";
							z-index:999;
							.transition(all, .4s, ease-out);
							.arredondada(100%);
						}
						&:nth-of-type(3n + 2){
							margin-right:10px;
							margin-left:10px;
						}
						img{
							z-index:9;
							position: relative;
							display:block;
							margin:0 auto;
							filter: gray; /* IE6-9 */
  							filter: grayscale(1); /* Firefox 35+ */
  							-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  							.transition;
							.arredondada(100%);
						}
						&:hover{
							&:after{
								-webkit-box-shadow:inset 0 0 0 0px rgba(0,145,158,0);
								box-shadow:inset 0 0 0 0px rgba(0,145,158,0);
							}
							img{
								filter: none;
  								-webkit-filter: grayscale(0);
							}
						}
					}
				}
			}
			.grafico{
				//margin-left:355px;
				margin-left:25%;
				padding-bottom:60px;
				.anos{
					height:63px;
					line-height:63px;
					color:#46A1AA;
					.opensans(60px);
					.inicial{
						float:left;
						text-align: right;
						width:420px;
						margin-right:25px;
					}
					.atual{
						float:left;
						small{
							font-size:12px;
						}
					}
				}
				.linha{
					height:25px;
					line-height:15px;
					clear:both;
					.inicial{
						float:left;
						width:416px;
						margin-right:30px;						
						span{
							float:left;
							color:@amarelo-claro;
							.opensans(14px);
						}
						.barra{
							float:right;
							height:15px;
							background:@amarelo-claro;
							.transition(all, .8s, ease-in-out);
						}
						.valor{
							opacity:1;
							float:right;
							color:@branco;
							margin-right:5px;
							.transition(all,1s,ease-out);
							.opensans(14px);
						}
					}
					.atual{
						float:left;
						.barra{
							float:left;
							height:15px;
							background:@amarelo-claro;
							.transition(all, .8s, ease-in-out);
						}
						.valor{
							opacity:1;
							float:left;
							color:@branco;
							margin-left:5px;
							.transition(all,1s,ease-out);
							.opensans(14px);
						}
					}
					&.chamadas{					
						.inicial .barra{
							width:8px;							
							.transition-delay(0);
						}
						.atual .barra{
							width:114px;
							.transition-delay(0);
						}
						.valor{.transition-delay(.6s);}
					}
					&.contatos{
						.inicial .barra{
							width:16px;							
							.transition-delay(.2s);
						}
						.atual .barra{
							width:250px;
							.transition-delay(.2s);
						}
						.valor{.transition-delay(.8s);}
					}
					&.parceiros{
						.inicial .barra{
							width:14px;							
							.transition-delay(.4s);
						}
						.atual .barra{
							width:67px;
							.transition-delay(.4s);
						}
						.valor{.transition-delay(1s);}
					}
					&.resolucao{
						.inicial .barra{
							width:53px;							
							.transition-delay(.6s);
						}
						.atual .barra{
							width:152px;
							.transition-delay(.6s);
						}
						.valor{.transition-delay(1.2s);}
					}
					&.clientes{
						.inicial .barra{
							width:22px;							
							.transition-delay(.8s);
						}
						.atual .barra{
							width:215px;
							.transition-delay(.8s);
						}
						.valor{.transition-delay(1.4s);}
					}
					&.fds{
						.inicial .barra{
							width:150px;							
							.transition-delay(1s);
						}
						.atual .barra{
							width:29px;
							.transition-delay(1s);
						}
						.valor{.transition-delay(1.6s);}
					}
					&.projetos{
						.inicial .barra{
							width:45px;							
							.transition-delay(1.2s);
						}
						.atual .barra{
							width:230px;
							.transition-delay(1.2s);
						}
						.valor{.transition-delay(1.8s);}
					}
					&.cafezinhos{
						.inicial .barra{
							width:15px;							
							.transition-delay(1.4s);
						}
						.atual .barra{
							width:132px;
							.transition-delay(1.4s);
						}
						.valor{.transition-delay(2s);}
					}
					&.area{
						.inicial .barra{
							width:41px;							
							.transition-delay(1.6s);
						}
						.atual .barra{
							width:151px;
							.transition-delay(1.6s);
						}
						.valor{.transition-delay(2.2s);}
					}
					&.pcs{
						.inicial .barra{
							width:31px;							
							.transition-delay(1.8s);
						}
						.atual .barra{
							width:92px;
							.transition-delay(1.8s);
						}
						.valor{.transition-delay(2.4s);}
					}
					&.gadgets{
						.inicial .barra{
							width:2px;							
							.transition-delay(2s);
						}
						.atual .barra{
							width:67px;
							.transition-delay(2s);
						}
						.valor{.transition-delay(2.6s);}
					}
					&.visitas{
						.inicial .barra{
							width:22px;							
							.transition-delay(2.2s);
						}
						.atual .barra{
							width:203px;
							.transition-delay(2.2s);
						}
						.valor{.transition-delay(2.8s);}
					}
					&.feedback{
						.inicial .barra{
							width:12px;							
							.transition-delay(2.4s);
						}
						.atual .barra{
							width:61px;
							.transition-delay(2.4s);
						}
						.valor{.transition-delay(3.0s);}
					}
				}
				.obs{
					.opensans(10px);
					color:@turquesa-claro;
					margin-top: 15px;
				}
				&.barras-zero{
					.linha{
						.inicial .barra,
						.atual .barra{
							width:0;
						}
						.inicial .valor,
						.atual .valor{
							opacity:0;
						}
					}	
				}
			}
			.texto-inferior{
				//margin-left:355px;
				margin-left:25%;
				h1{
					margin:0;
					line-height:130%;
					.fauna(40px);
					color:@roxo;
				}
				h2{
					margin:0;
					line-height:130%;
					.fauna(80px);
					color:@roxo;
				}
				h3{
					margin:0;
					line-height:130%;
					.fauna(30px);
					color:@roxo;
				}
				p{
					padding:55px 0 65px 0;
					color:@branco;
					.fauna(16px);
					margin:0;
				}
			}
		}
		.clientes{
			h1{
				color:@amarelo-claro;
				margin:30px 0;
				.opensans(20px);
			}
			.listaClientes{
				font-size:0;
				padding-bottom:60px;
				.marca-cliente{
					background: @branco;
					margin:0 2px 2px 0;
					.inline;
					img{}
				}
			}
		}
		.equipe{
			padding:30px 0 70px 0;
			font-size:0;
			aside{
				.inline;
				//width:460px;
				width:39%;
				//margin-right:70px;
				margin-right:6%;
				box-sizing: border-box;
				background:@roxo;
				padding:30px 30px 60px 30px;
				.arredondada(0 0 100px 0);
				h1{
					color:@branco;
					.opensans(36px);
				}
				p{
					color:@branco;
					.fauna(16px);
				}
			}
			section{
				.inline;
				//width:1160px - 460px - 70px;
				width:55%;
				h2{
					color:@turquesa-claro;
					.fauna(36px);
					margin:0;
				}
				.destaque{
					margin:40px 0 20px 0;
					.linha{
						height: 142px;
						&:first-child .box{float:right;}
						.box{
							border-top: 2px @roxo solid;
							height: 142px;
							width:490px;
							background:@amarelo-claro;
							.imagem{
								float:left;
								img{}
							}
						}
						.texto{
							margin-left:140px;
							padding:15px 18px;
							p{
								color:@roxo;
								line-height: 130%;
								.fauna(14px);
							}
						}
					}
				}
				p{
					.fauna(14px);
					color:@branco;
				}
				.listaEquipe{
					font-size: 0;
					.linha{
						width:490px;
						min-height:52px;
						margin-bottom: 10px;
						border-top:2px @turquesa-claro solid;
						overflow:hidden;
						.titulo{
							color:@amarelo-claro;
							.inline;
							width:200px;
							padding-top:15px;
							.opensans(12px);
						}
						.imagens-equipe{
							.inline;
							width:290px;
							white-space: nowrap;
							img{
								.inline;
								.bounceTransition;
								margin-left:150px;
								margin-right:1px;
								opacity:0;
								margin-bottom:1px;
								&:nth-child(1){.transition-delay(0);}
								&:nth-child(2){.transition-delay(.2s);}
								&:nth-child(3){.transition-delay(.4s);}
								&:nth-child(4){.transition-delay(.6s);}
								&:nth-child(5){.transition-delay(.8s);}
							}							
							&.segunda-linha{
								margin-left:200px;
							}
						}
					}
					&.mostrarImagens .linha .imagens-equipe img{
						opacity:1;
						margin-left:0px;
					}
				}
			}
		}
	}
}