@import '../vars.less';

html{
	.contato{
		.titulo{
			padding-top:30px;			
			h1{
				.opensans(28px);
				color:@roxo;
				margin:0 0 15px 0;
			}
		}
		section{
			font-size:0;
			aside{
				//margin-right: 55px;
				margin-right: 4%;
				padding:30px 30px 70px 30px;
				//width:500px;
				width:43%;
				background:@roxo;
				.inline;
				.arredondada(0 0 100px 0);
				h1{
					color:@turquesa-escuro;
					margin-bottom:20px;
					.opensans(40px);
				}
				h2{
					color:@turquesa-escuro;
					.opensans(20px);
				}
			}
			.form{
				//width:605px;
				width:53%;
				.inline;
				h2{
					.fauna(16px);
					color:@roxo;
					margin:0 0 3px 0;
				}
				h3{
					.fauna(12px);
					color:@roxo;
					margin:0 0 30px 0;
				}
				#formContato{
					.form-interno{
						position:relative;
						ol.perguntas{
							list-style: none;
							width:100%;
							height:125px;
							overflow:hidden;
							position:relative;
							margin:0;
							li{
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:125px;
								&#q1{z-index:6;}
								&#q2{z-index:5;}
								&#q3{z-index:4;}
								&#q4{z-index:3;}
								span{
									width:100%;
									height:60px;
									display:block;
									background:@turquesa-escuro;
									overflow:hidden;
									label{
										cursor:default;
										display:block;
										height:60px;
										line-height:60px;
										color:@amarelo-claro;
										margin-top:0;
										.fauna(23px);
										.transition(all, .4s, ease-out);
									}
									&.paracima{
										label{
											margin-top:-60px;
											opacity:0;
										}
									}
									&.parabaixo{
										label{
											margin-top:60px;
											opacity:0;
										}	
									}
								}
								&.naoativo{
									display:none;
									span{}
									.input{}
								}
								.input{
									display:block;
									height:65px;
									position:relative;
									input{
										display:block;
										height:65px;
										background:@amarelo-claro;
										margin:0;
										padding:10px 65px 10px 10px;
										border:0;
										color:@petroleo;
										.fauna(24px);
									}
								}
							}
							&:after{
								content:"";
								line-height:65px;
								background: @amarelo-claro;
								.fauna(20px);
								color:@petroleo;
								text-align: center;
								width: 100%;
								position:absolute;
								bottom:0;
								left:0;
								z-index:9999;
								opacity:0;
								height:0;
								overflow: hidden;
								.transition(all, .6s, ease-out);
							}
							&.finalizado:after{
								opacity:1;
								height:65px;
							}
						}
						.controles{
							width:100%;
							height:30px;
							position:relative;
							.next{
								margin:0;
								width:50px;
								height:65px;
								background:url('/assets/images/layout/seta-amarela.png') center center no-repeat;
								position:absolute;
								right:10px;
								top:-65px;
								z-index:999;
								&:focus{
									outline:0;
								}
							}
							.progresso{
								width:100%;
								height:10px;
								background:@amarelo-claro;
								.passo{
									height:10px;
									float:left;
									width:0;
									background:@amarelo;
									.transition(width, .3s, ease-out);
									&.completo{										
										width:25%;
									}
								}
							}
							.mensagem-erro{
								height:15px;
								width:70%;
								color:@amarelo-claro;
								opacity:0;
								.fauna(14px);
								.transition;
								&.aberto{opacity:1;}
							}
							.navegacao{
								float:right;
								padding:3px 0 0 0;
								div{
									width:10px;
									height:10px;
									background:@amarelo;
									margin-left:3px;
									.inline;
									.arredondada(100%);
									button{
										margin:0;
										padding:0;
										cursor:pointer;
										display:block;
										width:0px;
										height:10px;
										background:@amarelo-claro;
										opacity:0;
										.transition;
										.arredondada(100%);
										&:focus{outline:0;}
									}
									&.completo{
										button{
											opacity:1;
											width:10px;
										}
									}
								}
							}
						}
						input[type="submit"]{
							width:0;
							position: absolute;
							top:60px;
							right:10px;
							border:0;
							margin:0;
							padding: 0;
							height:65px;
							text-align:center;
							line-height:65px;
							z-index:99999;
							background:@amarelo-claro url('/assets/images/layout/seta-amarela.png') right center no-repeat;
							color:@petroleo;
							overflow:hidden;
							opacity:0;
							.fauna(28px);
							.transition;
							&:focus{outline:0;}
							&.not(.is_small){
								&:hover{color:@amarelo;}
							}
						}
					}					
					&.contato-finalizado{
						input[type="submit"]{
							width:180px;
							opacity:1;
							padding: 0 30px 0 0;
						}
					}
				}
				#resposta-form{
					display: none;
					text-align: center;
					color:@amarelo-claro;
					.fauna(24px);
				}
			}
		}
		.maps{
			padding:45px 0 70px 0;
			#mapa-ss{
				display:none;
			}
		}
	}
}