@import '../vars.less';

html{
	.faixa-turquesa{
		padding:35px 0 35px 0;
		background:@turquesa-claro;
		figure{
			img{}
			figcaption{
				color:@roxo;
				text-align:center;
				margin-top: 10px;
				.fauna(10px);
			}
		}
		section{
			p{
				color:@roxo;
				line-height: 140%;
				clear:left;
				.fauna(14px);
			}
			h2{
				color:@roxo;
				.opensans(30px);
			}
			figure{
				margin-left:0;
				img{}
			}
		}
	}
	.lista-areas{
		padding:35px 0 80px 0;
		.contem-area{
			margin-bottom:90px;
			figure{
				margin:0;
				img{
					width:auto;
					max-width: 100%;
					display:block;
					margin:0 auto;
				}
			}
			h2{
				text-align:center;
				color:@amarelo-claro;
				margin:20px 0 10px 0;
				.fauna(24px);
			}
			p{
				width:100%;
				max-width:350px;
				margin:0 auto;
				color:@branco;
				text-align: center;
				.fauna(14px);
			}
		}
		.destaque{
			background:@amarelo-claro;
			padding:30px 40px 70px 30px;
			min-height: 570px;
			.arredondada(0 0 160px 0);
			&.esquerda{margin-right:10px;}
			&.direita{margin-left:10px;}
			figure{
				margin:0;
				width:100%;
				max-width:180px;
				float:left;
				img{}
			}
			.paragrafos{
				min-height: 412px;
			}
			h2{
				margin:20px 0;
				color:@turquesa-escuro;
				.fauna(24px);
			}
			p{
				line-height:150%;
				margin:0 0 10px 0;
				color:@turquesa-escuro;
				.fauna(14px);	
			}
			p.strong{
				line-height:140%;
				margin:0 0 10px 0;
				.opensans(20px);
			}
			.link-destaque{
				a{
					color:@magenta;
					.opensans(16px);
					.transition;
					&:active, &:visited{color:@magenta;}
					&:hover{color:@rosa;}
				}
			}
		}
		.link-final{
			margin:0 0 60px 0;
			a{
				display:block;
				height:100px;
				line-height:100px;
				background:@roxo;
				color:@turquesa-escuro;
				padding:0;
				width:100%;
				max-width: 830px;
				margin:0 auto;
				text-align: center;
				.opensans(23px);
				.transition;
				&:active, &:visited{color:@turquesa-escuro;}
				&:hover{color:@amarelo;}
			}
		}
	}
}