@import '../vars.less';

html{
	body{
		overflow-x:hidden;
		header.home{
			position:relative;
			height: auto;
			#menu-principal{
				position:absolute;
				width:100%;
				z-index: 9999999;
				.centralizar{
					height:405px;
				}
			}
		}
		.faixaBanners{
			height:405px;
			& > .centralizar{
				position: relative;
				height:405px;
				
				#banners{
					width:100%;
					height:405px;
					position: absolute;
					top:0;
					left:0;
					.banner{
						background:@turquesa-escuro;
						width:100%;
						height:405px;
						display:none;
						&:nth-child(1){display:block;}
						a{
							display:block;
							&:hover{
								& .ver-projeto, & + a .ver-projeto{
									background:@amarelo;											
								}
							}
						}
						.imagem-fundo{
							overflow: hidden;
							width:100%;
							height:405px;
							position:absolute;
							left:0px;
							top:0px;
							z-index:1;
							opacity:1;
							.transition;
							img{
								.transition(all, .4s, ease-out);
								.arredondada(100%);
								position:absolute;
								right:75px;
								top:-35px;
								z-index:1;
								opacity:0.4;
								-moz-transform: scale(1);
								-webkit-transform: scale(1);
								-o-transform: scale(1);
								-ms-transform: scale(1);
								transform: scale(1);
							}
						}
						.imagem-frente{
							opacity:1;
							position:absolute;
							left:111px;
							top:160px;
							z-index:2;
							
							-webkit-transition: top .6s cubic-bezier(0.175, 0.885, 0.320, 1),
												left .3s ease-in,
												opacity .2s ease-in;
							-webkit-transition: top .6s cubic-bezier(0.175, 0.885, 0.320, 1.275),
												left .3s ease-in,
												opacity .2s ease-in;
							-moz-transition: top .6s cubic-bezier(0.175, 0.885, 0.320, 1.275),
												left .3s ease-in,
												opacity .2s ease-in;
							-o-transition: top .6s cubic-bezier(0.175, 0.885, 0.320, 1.275),
												left .3s ease-in,
												opacity .2s ease-in;
							transition: top .6s cubic-bezier(0.175, 0.885, 0.320, 1.275),
												left .3s ease-in,
												opacity .2s ease-in;
						}
						.texto{
							-webkit-transition: right .5s cubic-bezier(0.680, 0, 0.265, 1) .15s,
												opacity .4s ease-in .17s;
							-webkit-transition: right .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .15s,
												opacity .4s ease-in .17s;
							-moz-transition: right .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .15s,
												opacity .4s ease-in .17s;
							-o-transition: right .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .15s,
												opacity .4s ease-in .17s;
							transition: right .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .15s,
												opacity .4s ease-in .17s;
							opacity:1;
							z-index:3;
							position: absolute;
							right:0;
							left:auto;
							top:255px;
							padding:17px 45px 17px 20px;
							background:@turquesa-escuro;
							max-width: 495px;							
							h1{
								color:@branco;
								.opensans(18px);
								line-height: 120%;
								margin:0 0 8px 0;
							}
							p{
								margin:0;
								color:@branco;
								.fauna(12px);
								line-height: 120%;
							}
							.ver-projeto{
								position:absolute;
								left:20px;
								bottom:-7px;
								height:15px;
								line-height:15px;
								padding:0 6px;
								color:@branco;
								background-color:@petroleo;
								z-index:99;
								.fauna(10px);
								.transition;
							}								
						}
						&.antes{
							.imagem-fundo{
								opacity:0;
								img{										
									-moz-transform: scale(1.35);
									-webkit-transform: scale(1.35);
									-o-transform: scale(1.35);
									-ms-transform: scale(1.35);
									transform: scale(1.35);
								}
							}
							.imagem-frente{
								opacity:0;
								top:-100px;
							}
							.texto{
								opacity:0;
								right:-300px;
							}
						}
						&.depois{
							.imagem-fundo{
								opacity:0;
								img{										
									-moz-transform: scale(1.35);
									-webkit-transform: scale(1.35);
									-o-transform: scale(1.35);
									-ms-transform: scale(1.35);
									transform: scale(1.35);
								}
							}
							.imagem-frente{
								opacity:0;
								left:-500px;
							}
							.texto{
								opacity:0;
								right:-600px;
							}
						}
					}
				}
			}
			#bannersControl{
				background-color:@petroleo-medio;
				height:85px;
				position: relative;
				z-index: 1;
				.centralizar{
					text-align: right;
					height:85px;
					a{
						.inline;
						width:10px;
						height:10px;
						margin:15px 10px 0 0;
						background: @turquesa-escuro;
						.arredondada(100%);
						.transition;
						&:hover, &.activeSlide{background: @turquesa-claro;}
					}
				}
			}			
		}
		.chamadas-home{
			padding-top:85px;
			background:@petroleo-medio;
			h1#titulo-chamada-home{
				margin:0;
				position:relative;
				text-align: center;
				span{
					background:@petroleo-medio;
					.inline;
					padding:0 45px;
					margin:0 auto;
					.fauna(50px);
					color:@turquesa-escuro;
					position: relative;
					z-index:1;
				}
				&:after{
					content:"";
					position: absolute;
					top:34px;
					left:0;
					height:2px;
					width:100%;
					background:@turquesa-escuro;
					z-index:0;
				}
			}
			ul{
				list-style: none;
				margin:10px 0 0 0;
				li{
					.chamada{
						width:220px;
						max-width: 100%;
						margin:0 auto;
						text-align: center;
						h2{
							.opensans(20px);
							color:@branco;
							line-height: 120%;
						}
						p{
							.fauna(13px);
							color:@branco;
							a{
								color:@branco;
								.transition;
								&:active, &:visited{color:@branco;}
								&:hover{color:@amarelo;}
							}
						}
					}
				}
			}
		}
		.clientes-home{
			background-color:@magenta;
			overflow:hidden;
			& > ul{
				overflow:hidden;
				list-style: none;
				margin:1px 0 0 0;
				& > li{
					padding:0 1px 1px 0;
					a{
						overflow: hidden;
						display:block;
						background-color:@roxo;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 120px 80px;
						height:170px;
						-webkit-transition: background-color .3s ease-in 0s,
											background-image .5s ease-in-out 0s,
											background-position .4s ease-in-out 0s,
											background-size .4s ease-in-out 0s;
					   	-moz-transition: background-color .3s ease-in 0s,
					   					 background-image .5s ease-in-out 0s,
					   					 background-position .4s ease-in-out 0s,
					   					 background-size .4s ease-in-out 0s;
					    -o-transition: background-color .3s ease-in 0s,
					    			   background-image .5s ease-in-out 0s,
					    			   background-position .4s ease-in-out 0s,
					    			   background-size .4s ease-in-out 0s;
					    transition: background-color .3s ease-in 0s,
					    			background-image .5s ease-in-out 0s,
					    			background-position .4s ease-in-out 0s,
					    			background-size .4s ease-in-out 0s;

					    &.adicionaDelay{
							-webkit-transition-delay:.3s;
							-moz-transition-delay:.3s;
							-o-transition-delay:.3s;
							transition-delay:.3s;
							& > .chamada_cliente{
								-webkit-transition-delay:0s;
								-moz-transition-delay:0s;
								-o-transition-delay:0s;
								transition-delay:0s;
							}
					    }
						&:hover{
							background-position: center 6px;
							background-color:@branco;
							background-size: 96px 64px;
							& > .chamada_cliente{
								opacity:1;
								-moz-transform: scale(1);
								-webkit-transform: scale(1);
								-o-transform: scale(1);
								-ms-transform: scale(1);
								transform: scale(1);
							}
						}
						& > .chamada_cliente{
							background-repeat: no-repeat;
							background-position: -1000px -500px;
							padding-top:70px;
							margin:0;
							opacity:0;
							-webkit-transition: all .3s ease-in .2s;
					   		-moz-transition: all .3s ease-in .2s;
					    	-o-transition: all .3s ease-in .2s;
					   	 	transition: all .3s ease-in .2s;
					   	 	-moz-transform: scale(1.5);
							-webkit-transform: scale(1.5);
							-o-transform: scale(1.5);
							-ms-transform: scale(1.5);
							transform: scale(1.5);							
							text-align: center;
							color:@roxo;
							line-height: 160%;
							.opensans(12px);							
						}
					}
				}
			}
		}
		.main-home{
			background-color: @turquesa-escuro;
			padding:55px 0;
			aside{
				ul{
					list-style: none;
					margin:0;
					li{
						line-height: 110%;
						margin-bottom:6px;
						a{
							.inline;
							line-height: 110%;
							color:@turquesa-claro;
							.fauna(13px);
							.transition;
							&:active, &:visited{color:@turquesa-claro;}
							&:hover{color:@branco;}
						}
					}
				}
			}
			section{
				p{
					margin-bottom:28px;
					color:@branco;
					line-height:150%;
					.fauna(18px);
				}
				h2{
					margin-bottom:28px;
					color:@branco;
					line-height:150%;
					.opensans(30px);	
				}
				.cards-home{
					position:relative;
					width:100%;
					min-height:520px;
					perspective: 800px;
					perspective-origin: 50% 100px;
					.card-1{
						transform-style: preserve-3d;
						opacity:1;
						-webkit-transform: rotateX(0deg);
						-webkit-transform-origin-y: 0%;
						-webkit-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1);
						-webkit-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
						   -moz-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
						     -o-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
						        transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
						.transition;
						background: @magenta;
						padding:17px 20px;
						min-width: 300px;
						margin-bottom:10px;
						.inline;
						h1{
							.fauna(12px);
							padding-bottom:6px;
							margin:0 0 6px 0;
							display:block;
							color:@branco;
							border-bottom:1px @rosa solid;
						}
						.links{
							min-height: 30px;
							line-height: 30px;
							position: relative;
							background: @magenta;
							span{
								display:block;
								color:@branco;
								line-height:130%;
								.opensans(18px);								
							}
						}
					}
					.card-2{
						transform-style: preserve-3d;
						opacity:1;
						-webkit-transform: rotateX(0deg);
						-webkit-transform-origin-y: 0%;
						-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1) .3s;
						-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .3s; 
						   -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .3s; 
						     -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .3s; 
						        transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .3s;
						a{
							display:block;
							padding:0 25px 40px 25px;
							background:url('../images/layout/seta-novidades.png') @amarelo 96% 90% no-repeat;
							h1{
								height:31px;
								text-indent: -1000px;
								overflow: hidden;
								display:block;
								margin:0 0 7px 0;
								background:url('../images/layout/novidades.png') left top no-repeat;
							}
							p{
								.fauna(12px);
								line-height:160%;
								color:@petroleo;
							}
							.transition;
							&:active, &:visited{}
							&:hover{background-color:@amarelo-claro;}
						}
					}
					.card-3{
						transform-style: preserve-3d;
						opacity:1;
						-webkit-transform: rotateY(0deg);
						-webkit-transform-origin-x: 100%;
						-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1) .6s;
						-webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .6s; 
						   -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .6s; 
						     -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .6s; 
						        transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) .6s;
						max-width: 320px;
						float:right;
						margin-right:10px;
					}
					.card-4{
						transform-style: preserve-3d;
						opacity:1;
						-webkit-transform: rotateX(0deg);
						-webkit-transform-origin-y: 0%;
						-webkit-transition: all .6s cubic-bezier(0.175, 0.885, 0.320, 1) .9s;
						-webkit-transition: all .6s cubic-bezier(0.175, 0.885, 0.320, 1.275) .9s; 
						   -moz-transition: all .6s cubic-bezier(0.175, 0.885, 0.320, 1.275) .9s; 
						     -o-transition: all .6s cubic-bezier(0.175, 0.885, 0.320, 1.275) .9s; 
						        transition: all .6s cubic-bezier(0.175, 0.885, 0.320, 1.275) .9s;
						width: 245px;
						clear:right;
						float:right;
						margin:10px 10px 0 0;
						a{
							display:block;
							padding: 17px 20px;
							background:@petroleo;
							h1{
								text-align: center;
								color:@branco;
								.fauna(18px);
								display: block;
								border-bottom:1px @turquesa-escuro solid;
								padding:0 0 7px 0;
								margin-bottom: 7px;
							}
							.imagem{
								height:180px;
								overflow: hidden;
								width:100%;
								position:relative;
								img{
									position: absolute;
									top:50%;
									left:50%;
									-moz-transform: translateX(-50%) translateY(-50%);
									-webkit-transform: translateX(-50%) translateY(-50%);
									-o-transform: translateX(-50%) translateY(-50%);
									-ms-transform: translateX(-50%) translateY(-50%);
									transform: translateX(-50%) translateY(-50%);
								}
							}
							.transition;
							&:hover{background-color:@roxo;}
						}
					}
					.card-5{
						transform-style: preserve-3d;
						opacity:1;
						-webkit-transform: rotateY(0deg);
						-webkit-transform-origin-x: 0%;
						-webkit-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1) 1.1s;
						-webkit-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.1s; 
						   -moz-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.1s; 
						     -o-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.1s; 
						        transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.1s;
						width:138px;
						margin-top:10px;
						a{
							.opensans(18px);
							padding:20px;
							display:block;
							background-color:@turquesa-claro;
							color:@petroleo;
							text-align: center;
							.transition;
							&:active, &:visited{color:@petroleo;}
							&:hover{background-color:@branco;}
						}
					}
					&.fechados{
						.card-1{
							-webkit-transform: rotateX(-90deg);							
							opacity:0;
						}
						.card-2{
							-webkit-transform: rotateX(-90deg);							
							opacity:0;	
						}
						.card-3{
							-webkit-transform: rotateY(-90deg);
							opacity:0;		
						}
						.card-4{
							-webkit-transform: rotateX(-90deg);							
							opacity:0;
						}
						.card-5{
							-webkit-transform: rotateY(90deg);
							opacity:0;	
						}
					}
				}
			}
		}
	}
}