@import '../vars.less';

.no-js{
	body{
		header{
			.faixaTopo{
				#linksTopo{			
					li{
						a{
							color:@turquesa-claro;
							text-shadow: 0 0 0;
							&:hover{color:@branco;}
						}
					}
				}
			}
		}
		.main-home{
			section{
				.cards-home{
					.card-1{
						opacity:1 !important;
						-webkit-transform: rotateX(0deg) !important;
					}
					.card-2{
						opacity:1 !important;
						-webkit-transform: rotateX(0deg) !important;
					}
					.card-3{
						opacity:1 !important;
						-webkit-transform: rotateY(0deg) !important;
					}
					.card-4{
						opacity:1 !important;
						-webkit-transform: rotateX(0deg) !important;
					}
					.card-5{
						opacity:1 !important;
						-webkit-transform: rotateY(0deg) !important;
					}
				}
			}
		}
		.conteudo-projetos{
			#lista-thumbs{
				.item-portfolio.thumb-redonda{
					.capa{
						top:0;
						left:0;
						opacity:0;
						.transition;
					}
					&:hover .capa{
						opacity:1;
					}
				}
				.sem-js-nao-mostrar{display:none;}
			}
		}
		.principal{
			.perfil{
				.centralizar{
					.grafico.barras-zero{
						.linha{
							.inicial .barra,
							.atual .barra,
							.inicial .valor,
							.atual .valor{
								.transition-delay(0);
							}
							.inicial .valor,
							.atual .valor{
								opacity:1 !important;
							}
							&.chamadas{					
								.inicial .barra{width:8px;}
								.atual .barra{width:114px;}
							}
							&.contatos{
								.inicial .barra{width:16px;}
								.atual .barra{width:250px;}
							}
							&.parceiros{
								.inicial .barra{width:14px;}
								.atual .barra{width:67px;}								
							}
							&.resolucao{
								.inicial .barra{width:53px;}
								.atual .barra{width:152px;}								
							}
							&.clientes{
								.inicial .barra{width:22px;}
								.atual .barra{width:215px;}								
							}
							&.fds{
								.inicial .barra{width:150px;}
								.atual .barra{width:29px;}								
							}
							&.projetos{
								.inicial .barra{width:45px;}
								.atual .barra{width:230px;}								
							}
							&.cafezinhos{
								.inicial .barra{width:15px;}
								.atual .barra{width:132px;}								
							}
							&.area{
								.inicial .barra{width:41px;}
								.atual .barra{width:151px;}								
							}
							&.pcs{
								.inicial .barra{width:31px;}
								.atual .barra{width:92px;}								
							}
							&.gadgets{
								.inicial .barra{width:2px;}
								.atual .barra{width:67px;}								
							}
							&.visitas{
								.inicial .barra{width:22px;}
								.atual .barra{width:203px;}								
							}
							&.feedback{
								.inicial .barra{width:12px;}
								.atual .barra{width:61px;}								
							}							
						}
					}
				}
			}
		}
		.conteudo-servicos{
			.centralizar{
				section{
					.relacionados{
						a.relacao{
							.capa{
								opacity:0 !important;
								top:0 !important;
								left:0 !important;
								.transition !important;
							}
							&:hover .capa{opacity:1 !important;}
						}
					}
				}
			}
		}
		.trabalhe-conosco{
			section{
				.form{
					#formTrabalheConosco{
						.form-interno{
							ol.perguntas{
								height:auto;
								li{
									position:relative;
									display:block;
									width:100%;
									height:125px;									
								}								
							}
							.controles{
								display:none;
							}
						}					
						.segunda-parte{
							.anexar{
								font-size:16px;
								label{
									border:0;
									display:block;
									position:relative;
									width:auto;
									text-align:left;
									height:30px;
									line-height:100%;
									padding:0;
									background:@turquesa-escuro;
									color:@amarelo-claro;
									.fauna(20px);
									overflow: hidden;
									text-overflow: ellipsis;									
								}
								input[type=file]{
									position:relative;
									display: block;
									z-index:0;
								}
							}
							.submit{
								margin:30px 0;
							}
						}
						&.no-js-form-enviado{
							display:none;
						}
					}
					#resposta-form.no-js-form-enviado{
						display: block;
					}
				}
			}
		}
		.contato{
			section{
				.form{
					#formContato{
						.form-interno{
							ol.perguntas{
								height:auto;
								li{
									position:relative;
									display: block;									
								}								
							}
							.controles{
								display:none;								
							}
							input[type="submit"]{
								width:190px !important;
								position: relative;
								display: block;
								margin:0;
								padding:0 40px 0 0;
								opacity:1 !important;
								background-position: 93% center;								
							}
						}
						&.no-js-form-enviado{
							display:none;
						}
					}
					#resposta-form{
						&.no-js-form-enviado{
							display:block !important;
						}
					}
				}
			}
			.maps{
				iframe{
					display:none !important;
				}
				#mapa-ss{
					display:block !important;
					margin:60px auto 0 auto !important;
				}
			}
		}
	}
}