@import '../vars.less';

html{
	.faixa-roxa-novidades{
		background: @roxo;
		padding:30px 0;
		h2{
			.fauna(30px);
			color:@amarelo;
			margin:0 0 20px 0;
		}
		.detalhes-com-imagem{
			font-size: 0;
			.imagem{
				.inline;
				width:46%;
				img{
					max-width: 500px;
				}
			}
			.texto{
				.inline;
				width:54%;
				p{
					color:@branco;
					.fauna(16px);
				}
			}
		}
		.detalhes-sem-imagem{
			.texto{
				p{
					color:@branco;
					.fauna(16px);
				}
			}
		}
	}
	.mais-novidades{
		padding:30px 0 50px 0;
		h3{
			.opensans(24px);
			color:@amarelo;
			margin:0;
		}
		ul{
			list-style: none;
			margin:0;
			padding:0;
			li{
				height: 50px;
				line-height: 50px;
				margin:0 0 5px 0;
				a{
					.inline;
					padding:0 30px 0 20px;
					background: @amarelo;
					color:@roxo;
					.fauna(20px);
					.transition;
					&:active, &:visited{color:@roxo;}
					&:hover{}
					&:before{
						content:"»";
						color:@roxo;
						.fauna(20px);
						margin-right:10px;
					}
				}
			}
		}
	}
}