@import '../vars.less';

html{
	body{
		.conteudo-projetos{
			padding:30px 0;
			font-size: 0;
			aside{
				.inline;
				width: 230px;
				h1{
					.opensans(28px);
					color:@roxo;
					margin:0 0 15px 0;
				}
				nav{
					ul{
						margin:0;
						list-style: none;
						li{
							a{
								.opensans(14px);
								color:@amarelo;
								.transition;
								&:active, &:visited{color:@amarelo;}
								&:hover{color:@branco;}
								&.ativo{color:@branco;}
							}
						}
					}
				}
			}
			.mobile-offscreen{
				.inline;
				width:928px;
			}
			#lista-thumbs{				
				.item-portfolio{
					.inline;
					&.banners{
						display: none;						
					}
					&.thumb-redonda{
						margin:0 15px 30px 15px;
						width:200px;
						height:200px;
						position:relative;
						overflow: hidden;
						.arredondada(200px);
						.imagem{
							overflow: hidden;
							position:absolute;
							top:0;
							left:0;
							z-index:1;
							width:200px;
							height:200px;
							.arredondada(200px);
							img{
								max-width: 100%;
							}
						}
						.capa{
							overflow: hidden;
							background:@petroleo;
							position:absolute;
							top:-200px;
							left:-200px;
							z-index:2;
							width:200px;
							height:200px;
							text-align: center;
							padding-top:25px;
							.arredondada(200px);
							h1{
								margin:0;
								line-height: 100%;
								color:@turquesa-escuro;
								.opensans(11px);
							}
							h2{
								margin:10px auto;
								line-height: 135%;
								max-width: 170px;
								text-transform: uppercase;
								color:@amarelo;
								.opensans(16px);
							}
							p{
								color:@branco; 
								.fauna(11px);
								padding:0 20px;
								line-height: 140%;
								margin-bottom:4px;
							}
							ul{
								margin:0;
								padding-left:2px;
								li{
									.inline;
									margin:0 1px;
								}
							}
						}					
					}
					&.thumb-quadrada{
						width:228px;
						height:180px;
						position:relative;
						overflow: hidden;
						background:#fff;
						margin:0 1px 2px 1px;
						img{
							.transition;
							width:228px;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    						filter: gray; /* IE6-9 */
    						-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
						}
						&:hover img{
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    						-webkit-filter: grayscale(0%);
						}
					}
				}
			}	
		}
		.barra-voltar{
			height:55px;
			background:@turquesa-escuro;
			.centralizar{
				a.btn-voltar-topo{
					float:left;
					margin-top:23px;
					padding-left: 22px;
					color:@turquesa-claro;
					background:url('../images/layout/seta-menuprojetos.png') left center no-repeat;
					.opensans(18px);
					.transition;
					&:active, &:visited{color:@turquesa-claro;}
					&:hover{
						color:@petroleo;
						background:url('../images/layout/seta-voltar.png') left center no-repeat;						
					}
				}
			}
		}
		.detalhes{
			overflow:hidden;
			padding-bottom:30px;
			.btn-circular{
				display:block;
				width:100px;
				height:100px;
				line-height:100px;
				background:@turquesa-claro;
				color:@petroleo;
				text-align:center;
				.arredondada(100%);
				.opensans(18px, 700);
				.transition(all, 1s, ease-out);
				img{
					vertical-align:-1px;
				}
			}
			&.superior{
				background:@petroleo-medio;
				padding:15px 20px 20px 20px;
				margin-top:10px;
				.textual{
					width:430px;
					float:left;
					h1{
						margin:0 0 20px 0;
						color:@amarelo;
						text-transform: uppercase;
						.opensans(25px);
					}
					.texto{
						p{
							color:#fff;
							.fauna(12px);
						}
						ul{
							list-style:inside;
							margin-left:0;
							color:#fff;
							.fauna(12px);
						}
					}
					ul.links{
						margin:20px 0;
						list-style: none;
						li{
							.opensans(13px);
							color:@amarelo-claro;
							margin-bottom:3px;
							.icone{
								clear:left;
								float:left;
								width:35px;
								img{}
							}
						}
					}
					.link-externo{
						.inline;
						height:30px;
						line-height:30px;
						background:url('../images/layout/seta-avanca.png') @turquesa-claro 95% center no-repeat;
						padding:0 26px 0 8px;
						color:@petroleo;
						.opensans(17px);
						.arredondada(4px);
						.transition;
						&:active, &:visited{color:@petroleo;}
						&:hover{
							background-color:@amarelo-claro;
						}
					}
				}
				.capa{
					float:right;
				}
				.clear{clear:both;}
				.reel{
					margin-top:30px;
					iframe{
						display:block;
						margin: 0 auto;
					}
				}
			}
			&.inferior{
				background:@turquesa-escuro;
				.btn-mais{
					margin:20px auto 40px auto;					
				}
				a.btn-circular{
					&:hover{
						box-shadow:inset 0 0 0 100px @amarelo-claro;
					}
				}
				.lista-imagens{
					width:1030px;
					div.scrollme{
						margin-bottom:30px;
						max-width:700px;
						&:nth-child(odd){
							float:left;
							clear:left;
						}
						&:nth-child(even){
							float:right;
							clear:right;
						}
						img{
							display:block;
							max-width:100%;							
						}
					}
				}
			}
			.centralizar{
				position:relative;
				.fixed-nav{
					position:absolute;
					right: 0;
					bottom:30px;
					width:100px;
					height:205px;
					.btn-topo{
						margin-bottom:5px;
					}
				}
			}
		}
	}
}
