@small	: ~"(min-width: 0px) and (max-width: 400px)";
@medium	: ~"(min-width: 401px) and (max-width: 760px)";
@large  : ~"(min-width: 761px) and (max-width: 980px)";
@xlarge	: ~"(min-width: 981px)";

@small_e_medium : ~"(min-width: 0px) and (max-width: 760px)";
@medium_e_large : ~"(min-width: 401px) and (max-width: 980px)";
@large_e_xlarge : ~"(min-width: 761px)";

@small_ate_large	: ~"(min-width: 0px) and (max-width: 980px)";
@medium_ate_xlarge  : ~"(min-width: 401px)";

@branco: #ffffff;
@petroleo: #003B4D;
@petroleo-medio: #065562;
@turquesa-escuro: #00919E;
@turquesa-claro: #80C1C7;
@roxo: #3C003C;
@magenta: #802C4F;
@rosa: #Ff6699;
@amarelo: #F1BF3A;
@amarelo-claro: #FFFF66;

.centralizar{
	@media @small{max-width:390px;}
	@media @medium{max-width:740px;}
	@media @large{max-width:980px;}
	@media @xlarge{max-width:1160px;}
	width:100%;	
	padding-left:0;
	padding-right:0;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.fauna(@fsize:12px, @fweight:normal){
	font-family: 'Fauna One', serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.opensans(@fsize:12px, @fweight:bold){
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.transition-delay(@dur:0){
	-webkit-transition-delay:@dur;
   -moz-transition-delay:@dur;
   -o-transition-delay:@dur;
   transition-delay:@dur;
}
.bounceTransition{
	-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	     -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

	-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	     -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */	
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}
