@import '../vars.less';

@media @large{
	html{
		body{
			/* TEMPLATE */
			header{
				&:not(.home){
					height:135px;
					width:100%;
					background:@turquesa-escuro;
					#menu-principal{
						height:75px;
						.centralizar{
							height:65px;
							position:relative;
							a#logo-link{
								position: absolute;
								left:10px;
								top:0;
								width:40px;
								height:40px;
								margin-top:0px;
								background:url('../images/layout/kombi-menu.png') center center no-repeat;
							}
							img{display:none;}
						}
						nav{
							width:100%;
							margin-top:20px;
							margin-left:60px;
							float:none;
							height: 57px;
							text-align:left;
							ul{
								float:left;
								&.superior{
									margin-top:0;
									margin-right:0;
									li{
										a{
											padding:0 8px;
										}
									}
								}
								&.inferior{
									margin-top:0px;
									li{
										a{
											padding:0 12px;
											font-size:15px;
										}
									}
								}							
							}
						}
					}
				}
			}
			/* FIM DO TEMPLATE */

			/* HOME */
			.clientes-home{
				ul li{
					&:nth-child(n+11){display:none;}					
				}
			}
			.main-home{
				padding:25px 0;
				aside{
					ul{
						text-align:center;
						float:left;
						width:50%;
						margin-bottom: 50px;
					}
				}
				section{
					text-align: center;
					.cards-home{
						text-align: left;
						.card-1{
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-2{
							max-width: 80%;
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-3{
							-webkit-transform: rotateY(0deg) !important;
							opacity:1 !important;
						}
						.card-4{
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-5{
							-webkit-transform: rotateY(0deg) !important;
							opacity:1 !important;
						}
					}					
				}
			}			
			/* FIM DA HOME */

			/* PROJETOS */
			.conteudo-projetos{
				aside{
					width: 23%;
					h1{
						padding-left: 20px;
					}
					nav{
						padding-left: 20px;
					}
				}
				.mobile-offscreen{
					width: 77%;
				}
			}
			.barra-voltar{
				padding-left: 20px;
			}
			.detalhes{
				&.superior{
					.textual{
						width:49%;
						float:left;						
					}
					.capa{
						float:right;
						width:49%;
					}
					.clear{clear:both;}
					.reel{
						position: relative;
						padding-bottom: 56.25%; /* 16:9 */
						padding-top: 25px;
						height: 0;
						iframe{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
				&.inferior{					
					.lista-imagens{
						width:100%;
						div.scrollme{
							margin-bottom:30px;
							max-width:100%;
							&:nth-child(odd){
								float:left;
								clear:left;
							}
							&:nth-child(even){
								float:right;
								clear:right;
							}
							img{
								display:block;
								max-width:100%;							
							}
						}
					}
				}
				.centralizar{
					position:relative;
					.fixed-nav{
						text-align: center;
						position:relative;
						right: 0;
						bottom:0;
						width:100%;
						height:105px;
						.btn-topo{margin-bottom:0;}
						.btn-circular{.inline;}
					}
				}
			}
			/* FIM DOS PROJETOS */

			/* ATUAÇÃO: DESIGN & WEB */
			.faixa-roxa{
				ul.lista-areas{
					& > li{
						.inline;
						width:12.5%;
						height:155px;
						& > a{
							height:160px;
							padding:30px 5px 30px 5px;
							.opensans(13px);							
						}
						.texto-atuacao{
							top:100%;
							.texto{
								width:50%;
								font-size: 14px;
							}
							.links{
								width:40%;
								margin-left:10px;								
							}
						}						
					}
				}
			}
			.conteudo-servicos{
				padding:0 20px;
				.centralizar{
					aside{
						width:35%;
						.inline !important;
						box-sizing: border-box;
						ul{
							width:100%;
						}
					}
					section{
						.inline;
						box-sizing: border-box;
						width:65%;
						padding-bottom: 20px;
						.detalhe{
							padding:30px 30px 60px 30px;
							box-sizing: border-box;
							width:100%;
							.arredondada(0 0 120px 0);
							h1{
								font-size: 24px;
							}
							.texto p{
								font-size: 14px;
							}
							.relacionados{
								text-align: center;
							}
						}
						.outras-areas{
							padding:20px;
							text-align: right;
							.arredondada(120px 0 0 0);
							h2{
								.fauna(12px);
								margin:0 0 15px 0;
							}
							.lista-outras{
								height:auto;
								min-height:100px;
								a{
									width:14%;
									margin-left:0;
									margin-bottom: 20px;
									.opensans(12px);
									img{
										max-height: 40px;
									}
								}
							}
						}
					}
				}
			}
			/* FIM DA ATUAÇÃO: DESIGN & WEB */

			/* TRABALHE CONOSCO */
			.trabalhe-conosco{
				section{
					font-size:0;
					padding-left:20px;
					aside{
						margin-right: 5%;
						padding:30px 30px 70px 30px;
						width:38%;
						h1{
							.opensans(30px);
						}
						h2{
							.opensans(20px);
							br{
								display:none;
							}
						}
					}
					.form{
						width:55%;
						#formTrabalheConosco .form-interno ol.perguntas li span label{
							.fauna(18px);
						}
					}
				}
			}
			/* FIM DO TRABALHE CONOSCO */

			/* CONTATO */
			.contato{
				section{
					font-size:0;
					padding-left:20px;
					aside{
						margin-right: 5%;
						padding:30px 30px 70px 30px;
						width:38%;
						background:@roxo;
						h1{
							.opensans(30px);
						}
						h2{
							.opensans(20px);
							br{
								display:none;
							}
						}
					}
					.form{
						width:55%;
						#formContato .form-interno ol.perguntas li span label{
							.fauna(18px);
						}
					}
				}
				.maps{
					padding:45px 20px;
					#mapa-ss{
						display:none;
					}
				}
			}
			/* FIM DO CONTATO */

			/* CONHEÇA A TRUPE */
			.conheca{
				#navegacao-conheca{
					ul{
						margin:0 0 0 20px;						
					}
				}
			}
			.principal{
				.perfil{
					.faixa-escura{
						background: @petroleo-medio;
						font-size: 0;
						margin:30px 0 45px 0;
						padding:30px 20px;
						aside{
							.inline;
							width:36%;
							padding-right:35px;
							margin-right: 0;
							box-sizing: border-box;
							p{
								.fauna(12px);
							}
						}
					}
					section{
						width:64%;
						.galeria{
							.imagem{
								width:32%;
								height:32%;
								&:after{
									width:100%;
									height:100%;									
								}								
							}
						}
					}
					.grafico{
						margin-left:20px;	
						.linha.contatos .atual .barra{
							width:200px;
						}					
						&.barras-zero{
							.linha{
								.inicial .barra,
								.atual .barra{
									width:auto;
								}
								.inicial .valor,
								.atual .valor{
									opacity:1;
								}
							}	
						}
					}
					.texto-inferior{
						margin-left:20px;						
					}
				}
				.clientes{
					h1{
						margin:30px 0 30px 20px;
					}
					.listaClientes{
						padding-left:20px;						
					}
				}
				.equipe{
					padding:30px 20px 70px 20px;
					font-size:0;
					aside{
						width:30%;
						margin-right:5%;
						padding:30px 30px 60px 30px;
						.arredondada(0 0 100px 0);						
					}
					section{
						width:65%;
						.destaque .linha:first-child .box{margin-left:0px; float:none;}					
					}
				}
			}
			/* FIM DO CONHEÇA A TRUPE */

			/* CRIAÇÃO DE SITES */
			.titulo h1{margin-left: 20px !important;}
			.faixa-turquesa{
				section{
					p{
						.fauna(12px);
					}
					h2{
						.opensans(24px);
					}					
				}
			}
			.contem-area{
				margin-bottom:50px;
				figure{
					margin:0;
					img{
						max-height: 100px;
					}
				}
				h2{
					.fauna(20px);
				}
				p{
					min-height: 264px;
					.fauna(12px);
				}
			}
			.link-final{
				a{
					.opensans(20px);
				}
			}
			.contem-destaques{
				padding:0 20px;
				.destaque{
					figure{
						margin:0 auto;
						width:90%;
						display: block;
					}
					h2{
						margin:5px 0 20px 0;
						.fauna(20px);
					}
					p{
						.fauna(12px);	
					}
					p.strong{
						.opensans(16px);
					}
					.paragrafos{
						min-height: 372px;
					}
				}
			}
			/* FIM DE CRIAÇÃO DE SITES*/

			/* COMUNICAÇÃO & DESIGN  */
			.faixa-amarela{
				padding:35px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(20px);
					}					
				}
			}
			.lista-areas-comunicacao{
				padding:35px 20px 80px 20px;
				.contem-area{
					margin:0 0 30px 0;
					figure{
						margin:0;
						img{
							max-height: 60px;
						}
					}
					h2{
						margin:20px 0 10px 0;
						.fauna(16px);
						br{display: none;}
					}
					p{
						width:100%;
						max-width:100%;
						margin:0;
						.fauna(12px);
					}
					&.medium-centered{
						float:right;
						clear:none;
					}
				}
				.link-final{
					margin:30px 0 0 0;
					a{
						font-size: 20px;
					}
				}
			}
			/* FIM DE COMUNICAÇÃO & DESIGN */

			/* BRANDING */
			.faixa-amarela-escuro{
				padding:35px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(20px);
					}					
				}
			}
			.branding{
				padding:0 20px;
				h2{
					font-size:16px;
				}
				.lista-branding .contem-area{margin-bottom:60px !important;}
			}
			/* FIM DE BRANDING*/

			/* NOVIDADES */
			#swap-novidades{
				.faixa-roxa-novidades{
					padding-left:20px;
					padding-right:20px;
					.detalhes-com-imagem{
						.imagem{
							float:left;
							max-width: 500px;
							margin-right: 15px;
							img{max-width: 100%;}
						}
						.texto{
							display:inline;
						}
					}					
				}
				.mais-novidades{
					padding-right:20px;
					padding-left:20px;
					ul li a{					
						font-size: 16px;
					}
				}
			}
			/* FIM DO NOVIDADES */
		}
		&.is_mobile{
			.trabalhe-conosco section aside{ width:95% !important;}
			.trabalhe-conosco section aside br{display: none;}
			.trabalhe-conosco section aside .contem-link-cv{padding-top:30px; text-align: center;}
		}		
	}
}

/*
* Fix para o menu
* Esse arquivo define os estilos entre 761px e 980px de largura
* Mas o menu quebra de linha entre 761px e 700px
*/

/* MENU DA HOME */
// 760 - 940
@media (min-width: 760px) and (max-width: 940px){
	html body header.home #menu-principal .centralizar a#logo-link{display: none;}
	html body header.home #menu-principal .centralizar .marca{
		max-width: 340px;
		top:10px;
		left:10px;
		img{max-width: 100%;}
		&:after{
			content:"";
			background:@roxo;
			width:10px;
			height:10px;
			position:absolute;
			left:335px;
			top:71px;
			.arredondada(100%);
		}
	}
	html body header.home #menu-principal nav{margin-top:93px;}
}

/* MENU DAS INTERNAS */