@import '../vars.less';

@media @medium{
	html{
		max-width: 760px;
		//overflow-x: hidden;
		//overflow-y: scroll;
  		//-webkit-overflow-scrolling: touch;  		
  		h1,h2,h3{ br{display:none;}}
		body{
			min-width:100%;
			/* TEMPLATE */
			#conteudo-principal{min-height: 500px;}
			header{
				&.home{
					height:215px;
					padding:0;
					#menu-principal{
						position:relative;
						height:160px;
						overflow:visible;
						oveerflow-x:hidden;
						.centralizar{
							height:135px;
							#logo-link{
								width:160px;
								height:160px;
								display: block;
								position:absolute;
								top:20px;
								left:0;
								z-index:99;
							}
							.marca{
								top:10px;
								left:10px;
								height:160px;
								img{
									height:160px;
								}
								&:after{
									content:"";
									background:@roxo;
									width:10px;
									height:10px;
									position:absolute;
									left:355px;
									top:75px;
									.arredondada(100%);
								}
							}
						}
						nav{
							margin-top:103px;
						}
					}
				}
				&:not(.home){
					height:135px;
					width:100%;
					background:@turquesa-escuro;
					#menu-principal{
						height:75px;
						.centralizar{
							height:65px;
							position:relative;
							a#logo-link{
								position: absolute;
								left:10px;
								top:0;
								width:40px;
								height:40px;
								margin-top:0px;
								background:url('../images/layout/kombi-menu.png') center center no-repeat;
							}
							img{display:none;}
						}
						nav{
							width:100%;
							margin-top:20px;
							margin-left:60px;
							float:none;
							height: 57px;
							text-align:left;
							ul{
								float:left;
								&.superior{
									margin-top:0;
									margin-right:0;
									li{
										a{
											padding:0 8px;
										}
									}
								}
								&.inferior{
									margin-top:0px;
									li{
										a{
											padding:0 12px;
											font-size:15px;
										}
									}
								}							
							}
						}
					}
				}
			}
			footer{
				.centralizar{
					.row{
						.columns{
							border-right: none;
							h2{
								.opensans(19px);
							}
							.row{
								.columns{
									border-left:1px #4F6C78 dotted;
									#assinatura-medium{
										margin-top:20px;
									}
								}
							}
						}
					}
				}
			}
			.titulo > h1{
				padding-left:20px !important;
			}
			/* FIM DO TEMPLATE */

			/* HOME */
			.faixaBanners{
				height:245px;
				& > .centralizar{
					height:245px;
					#banners{
						height:245px;
						.banner{
							height:245px;
							display:none;
							&:nth-child(1){display:block;}
							a{
								display:block;
								&:hover{
									& .ver-projeto, & + a .ver-projeto{
										background:@amarelo;											
									}
								}
							}
							.imagem-fundo{
								display:none;
							}
							.imagem-frente{								
								position:relative;
								left:0;
								top:0;
								float:left;								
								max-width: 50%;
							}
							.texto{
								position: relative;
								right:0;
								left:0;
								top:0;
								float:left;
								padding:17px 45px 17px 20px;
								max-width: 50%;															
							}							
						}
					}
				}
				#bannersControl{
					height:42px;
					.centralizar{
						height:42px;
					}
				}
			}
			.chamadas-home{
				padding-top:42px;
				h1#titulo-chamada-home{
					span{
						padding:0 45px;
						.fauna(50px);							
					}
					&:after{
						top:34px;							
					}
				}
				ul.medium-block-grid-1 li{
					padding-bottom: 20px;
					div.chamada{
						width:100%;
						p{margin:0;}								
						br{display:none;}
					}					
				}
			}
			.clientes-home{
				ul li{
					&:nth-child(n+9){display:none;}					
				}
			}
			.main-home{
				padding:25px 0;
				aside{
					ul{
						float:left;
						width:49%;
						margin-bottom: 50px;
					}
				}
				section{
					text-align: center;
					.cards-home{
						text-align: left;
						.card-1{
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-2{
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-3{
							-webkit-transform: rotateY(0deg) !important;
							opacity:1 !important;
						}
						.card-4{
							-webkit-transform: rotateX(0deg) !important;
							opacity:1 !important;
						}
						.card-5{
							-webkit-transform: rotateY(0deg) !important;
							opacity:1 !important;
						}
					}
				}
			}
			/* FIM DA HOME */

			/* PROJETOS */
			.conteudo-projetos{
				aside{
					display:block;
					width:100%;
					h1{
						padding-left: 20px;
					}
					nav{
						padding:0 0 0 20px;						
						ul{
							margin:0;
							list-style: none;
							width:32%;
							float:left;
							li{
								a{
									.opensans(14px);
									color:@amarelo;
									.transition;
									&:active, &:visited{color:@amarelo;}
									&:hover{color:@branco;}
									&.ativo{color:@branco;}
								}
							}
						}
					}
				}
				.mobile-offscreen{
					clear:left;
					padding-top: 50px;
					display:block;
					width:100%;
				}
				#lista-thumbs{				
					.item-portfolio{
						.inline;
						&.banners{display: none;}
						&.thumb-redonda{
							margin:0 10px 30px 10px;
							width:160px;
							height:160px;
							.arredondada(160px);
							.imagem{
								width:160px;
								height:160px;
								.arredondada(160px);
							}
							.capa{
								top:-160px;
								left:-160px;
								width:160px;
								height:160px;
								padding-top:10px;
								.arredondada(160px);								
								h1{
									.opensans(11px);
								}
								h2{
									line-height: 135%;
									max-width: 145px;
									.opensans(12px);
								}
								p{
									.fauna(10px);
									padding:0 10px;
									margin-bottom:2px;
								}
								ul.links{
									li{
										img{max-width: 10px;}
									}
								}
							}					
						}
						&.thumb-quadrada{
							width:178px;
							height:120px;
							img{
								width:160px;
								filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	    						-webkit-filter: grayscale(0%);
							}
						}
					}
				}	
			}
			.barra-voltar{padding-left:10px;}
			.detalhes{
				.btn-circular{
					.inline;
				}
				.btn-mais{
					display: block;
					margin:0 auto;
				}
				&.superior{
					.textual{
						width:100%;
					}
					.capa{
						float:none;
						max-width: 100%;
						display: block;
						margin:0 auto;
					}
					.reel{
						position: relative;
						padding-bottom: 56.25%; /* 16:9 */
						padding-top: 25px;
						height: 0;
						iframe{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
				&.inferior{
					.lista-imagens{
						width:100%;
						div.scrollme{
							margin-bottom:30px;
							max-width:100%;
							&:nth-child(odd){
								float:left;
								clear:left;
							}
							&:nth-child(even){
								float:right;
								clear:right;
							}
							img{
								display:block;
								max-width:100%;							
							}
						}
					}
				}
				.centralizar{
					.fixed-nav{
						text-align: center;
						position:relative;
						width:100%;
						height:auto;
						bottom:0;
						.btn-topo{display:none;}
					}
				}
			}
			/* FIM DOS PROJETOS */

			/* ATUAÇÃO: DESIGN & WEB */
			.faixa-roxa{
				ul.lista-areas{
					& > li{
						.inline;
						width:12.5%;
						height:155px;
						& > a{
							height: 155px;
							padding:30px 5px 30px 5px;
							.opensans(13px);							
						}
						.texto-atuacao{
							top:100%;
							.texto{
								width:50%;
								font-size: 14px;
							}
							.links{
								width:40%;
								margin-left:10px;								
							}
						}						
					}
				}
			}
			.btn-voltar-atuacao{
				padding:10px 0px;
				a{
					color:@turquesa-claro;
					img{
						margin-right:10px;
						vertical-align: -1px;
					}
					.opensans(16px, 700);
					&:active, &:visited{color:@turquesa-claro;}
				}
			}
			.conteudo-servicos{
				padding:0 0px;
				.centralizar{ white-space: nowrap; }
				.centralizar *{ white-space: normal; }
				.centralizar aside{
					.inline;
					width:40%;
					.transition;
					border-right: 1px @turquesa-claro solid;
					margin-right:30px;
					ul{margin:15px 0;}
					ul li a, ul li h2{
						font-size: 12px;
						line-height: 18px;
					}
				}
				.centralizar section{
					max-width:100%;
					width:100%;
					padding-bottom: 20px;
					.detalhe{
						padding:30px 30px 60px 30px;
						box-sizing: border-box;
						width:100%;
						.arredondada(0 0 120px 0);
						h1{
							font-size: 24px;
						}
						.texto p{
							font-size: 14px;
						}
					}
					.outras-areas{
						padding:20px;
						text-align: left;
						.arredondada(15px);
						h2{
							.fauna(12px);
							margin:0 0 15px 0;
						}
						.lista-outras{
							height:auto;
							min-height:130px;
							a{
								width:25%;
								margin-left:0;
								margin-bottom: 20px;
								.opensans(12px);
								img{
									max-height: 40px;
								}
							}
						}
					}
				}
				&.mostrarSection{
					aside{
						opacity:0;
						overflow:hidden;
						width:0;
						margin:0;
					}
					section{
						opacity:1;
					}
				}
			}
			/* FIM DE ATUAÇÃO: DESIGN & WEB */

			/* TRABALHE CONOSCO */
			.trabalhe-conosco{
				section{
					font-size:0;
					aside{
						margin:0px auto;
						width:95%;
						display:block;
						padding:15px 20px;
						.arredondada(0 0 50px 0);
						br{display:none;}
						h1{
							margin-bottom:5px;
							.opensans(30px);
						}
						h2{				
							margin:20px 0;			
							.opensans(20px);
						}
					}
					.form{display: none;}
					.contem-link-cv{
						width: 100%;
						a{
							padding:30px 0;
							display:block;
							img{
								padding:0;
							}
						}
						img{
							padding:30px 0;
							display: block;
							max-width: 100%;
							margin:0 auto;
						}
					}			
				}
			}
			/* FIM DO TRABALHE CONOSCO */

			/* CONTATO */
			.contato{
				section{
					font-size:0;
					aside{
						margin-right: 5%;
						padding:15px 15px 40px 15px;
						width:45%;
						margin-bottom: 20px;
						.arredondada(0 0 50px 0);						
					}
					.form{
						width:50%;
						padding-bottom: 50px; 
						h2{
							.fauna(12px);							
						}
						h3{margin:0;}
						#formContato{
							.form-interno ol.perguntas li span label{
								.fauna(16px);
							}
							&.contato-finalizado input[type="submit"]{
								width:70%;
								box-sizing: border-box;
							}
						}
						#resposta-form{
							padding-top:30px;
							.fauna(12px);
						}
					}
				}
				.maps{
					display:none;
				}
			}
			/* FIM DO CONTATO */

			/* CONHEÇA A TRUPE */
			.conheca{
				#navegacao-conheca{
					ul{
						margin:0 0 0 20px;
					}
				}
			}
			.principal{
				.perfil{
					.faixa-escura{
						padding:30px 20px;
						aside{
							width:40%;
							padding-right:0px;
							h1{
								width:80%;
								line-height: 120%;
								.opensans(30px);
								span{
									display:block;
									font-size:50px;
									line-height: 160%;
								}
							}
							p{
								width:80%;
								.fauna(12px);
							}
						}
					}
					section{
						width:55%;
						p{
							.fauna(14px);
						}
						.galeria{
							.imagem{
								width:48%;
								height:48%;
								&:after{
									width:100%;
									height:100%;								
								}
								&:nth-of-type(3n + 2){
									margin-right:0px;
									margin-left:0px;
								}
								&:nth-of-type(2n+1){
									margin-right:5px;
								}								
							}
						}
					}
					.grafico{
						margin-left:0px;
						padding:0 20px 30px 20px;
						.anos{
							height:40px;
							line-height:40px;
							color:#46A1AA;
							.opensans(28px);
							.inicial{
								float:left;
								text-align: right;
								width:48%;
								margin-right:0px;
							}
							.atual{
								text-indent: 20px;
								width:48%;
								float:left;
								small{
									font-size:12px;
								}
							}
						}
						.linha{
							margin-bottom:15px;
							min-height:25px;
							height: auto;
							clear:both;
							&:after{
								content:"";
								clear:left;
							}
							.inicial{
								float:left;
								width:48%;
								margin-right:0px;						
								span{
									.inline;
									.opensans(12px);
									line-height: 150%;
									max-width: 40%;
								}
								.barra{
									height:15px;
									max-width: 58%;
								}
								.valor{
									font-size: 10px;
								}
							}
							.atual{
								width:48%;
								padding-left: 20px;
								.barra{
									height:15px;
									max-width: 80%;
								}
								.valor{
									font-size:10px; 
								}
							}
							&.fds{
								min-height: 45px;
								.inicial .barra{
									width:85px;						
								}
							}
							&.visitas{min-height: 45px;}													
						}
						.obs{
							.opensans(10px);
							color:@turquesa-claro;
							margin-top: 15px;
						}
						&.barras-zero{
							.linha{
								.inicial .barra,
								.atual .barra{
									width:0;
								}
								.inicial .valor,
								.atual .valor{
									opacity:0;
								}
							}	
						}
					}
					.texto-inferior{
						margin-left:0px;
						padding:0 20px;
						h1{
							line-height:130%;
							.fauna(38px);							
						}
						h2{
							line-height:130%;
							.fauna(80px);
						}
						h3{
							line-height:130%;
							.fauna(30px);
						}
						p{
							padding:20px 0 30px 0;
							.fauna(14px);							
						}
					}
				}
				.clientes{
					h1{
						margin:30px 0 30px 20px;
						.opensans(16px);
					}
					.listaClientes{
						padding:30px 0px;
						text-align: center;
						.marca-cliente{
							width:33%;
							margin:1px;
						}
					}
				}
				.equipe{					
					padding:30px 0 70px 0;
					font-size:0;
					aside{
						display: block;
						width:100%;
						margin:0px 0px;
						padding:20px 20px 10px 20px;
						.arredondada(0 0 60px 0);
						h1{
							.opensans(30px);
						}
						p{
							.fauna(14px);
						}
					}
					section{
						display: block;
						width:100%;
						padding-left: 20px;
						box-sizing: border-box;
						h2{
							color:@turquesa-claro;
							.fauna(36px);
							text-align: center;
							margin:20px 0;
						}
						.destaque{
							margin:40px auto 20px auto;
							padding:0 20px 0 0;
							width:100%;
							.linha{
								width:100%;
								clear:left;
								min-height: 142px;
								height: auto;
								&:first-child .box{margin-left:0px; float:none;}
								.box{
									min-height: 142px;
									height: auto;
									width:100%;
								}
								.imagem{
									float:none;
									.inline;
								}
								.texto{
									margin-left:140px;
									padding:15px;
									p{
										line-height: 140%;
										.fauna(13px);
										margin:0;
									}
								}
							}
						}
						p{
							.fauna(14px);
						}
						.listaEquipe{
							font-size: 0;
							.linha{
								width:100%;
								min-height:52px;
								margin-bottom: 10px;
								border-top:2px @turquesa-claro solid;
								overflow:hidden;
								.titulo{
									color:@amarelo-claro;
									.inline;
									width:30%;
									padding-top:5px;
									.opensans(12px);
								}
								.imagens-equipe{
									.inline;
									width:70%;
									white-space: nowrap;
									img{
										margin-left:30%;										
									}							
									&.segunda-linha{
										margin-left:30%;
									}
								}
							}
							&.mostrarImagens .linha .imagens-equipe img{
								opacity:1;
								margin-left:0px;
							}
						}
					}
				}
			}
			/* FIM DO CONHEÇA A TRUPE */

			/* CRIAÇÃO DE SITES */
			.faixa-turquesa{
				padding:35px 0;
				background:@turquesa-claro;
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(20px);
					}
				}
			}
			.lista-areas{
				padding:35px 0 80px 0;
				.contem-area{
					margin-bottom:50px;
					figure{
						margin:0;
						img{
							max-height: 80px;
						}
					}
					h2{
						.fauna(20px);
					}
					p{
						min-height: 171px;
						.fauna(12px);
					}
				}
				.destaque{
					background:@amarelo-claro;
					padding:20px 20px 40px 20px;
					min-height: 0;
					width:95%;
					float:none;
					margin-left: auto !important;
					margin-right: auto !important;
					margin-bottom: 20px;
					.arredondada(0 0 60px 0);
					&.esquerda{margin-right:0px;}
					&.direita{margin-left:0px;}
					figure{
						margin:0 auto;
						width:90%;
						display: block;
					}
					.paragrafos{
						min-height: 0px;
					}
					h2{
						margin:5px 0 20px 0;
						.fauna(20px);
					}
					p{
						.fauna(12px);	
					}
					p.strong{
						.opensans(16px);
					}
					.link-destaque{
						a{
							color:@magenta;
							.opensans(16px);
							.transition;
							&:active, &:visited{color:@magenta;}
							&:hover{color:@rosa;}
						}
					}
				}
				.link-final{
					width:95%;
					margin-left: auto !important;
					margin-right: auto !important;
					a{
						height:auto;
						line-height:140%;
						padding:15px 0;
						.opensans(20px);
					}
				}
			}
			/* FIM DO CRIAÇÃO DE SITES */

			/* COMUNICAÇÃO E DESIGN */
			.faixa-amarela{
				padding:35px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(20px);
					}					
				}
			}
			.lista-areas-comunicacao{
				padding:35px 20px 80px 20px;
				.contem-area{
					margin:0 0 30px 0;
					figure{
						margin:0;
						img{
							max-height: 60px;
						}
					}
					h2{
						margin:20px 0 10px 0;
						.fauna(16px);
						br{display: none;}
					}
					p{
						width:100%;
						max-width:100%;
						margin:0;
						.fauna(12px);
					}
					&.medium-centered{
						clear:both;
						p{min-height: 0;}
					}
				}
				.link-final{
					margin:30px 0 0 0;
					a{
						height:auto;
						line-height:140%;
						padding:15px 0;
						font-size: 20px;
					}
				}
			}
			/* FIM DO COMUNICAÇÃO E DESIGN*/

			/* BRANDING */
			.faixa-amarela-escuro{
				padding:35px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(20px);
					}					
				}
			}
			.branding{
				padding:0 20px;
				h2{
					font-size:16px;
				}
			}
			/* FIM DE BRANDING */

			/* NOVIDADES */
			#swap-novidades{
				.faixa-roxa-novidades{
					padding-left: 20px;
					padding-right: 20px;
					h2{font-size: 24px;}
					.detalhes-com-imagem{
						.imagem{
							float:left;
							max-width: 400px;
							margin-right:15px;
							img{
								max-width: 100%;
							}
						}
						.texto{
							display: inline;
							max-width: 100%;
							p{font-size: 14px;}
						}
					}
					.detalhes-sem-imagem{
						.texto{
							p{font-size: 14px;}
						}
					}
				}
				.mais-novidades{
					padding-left: 20px;
					padding-right: 20px;
					ul li a{					
						font-size:16px;
					}
				}
			}
			/* FIM DO NOVIDADES */
		}		
	}
}

/*
* Fix para o menu
* Esse arquivo define os estilos entre 401px e 760px de largura
* Mas o menu quebra de linha entre 401px e 700px
*/

/* MENU DA HOME */
@media (min-width:401px) and (max-width:480px){
	html body header.home #menu-principal nav ul li a{
		padding:0 4px !important;
		font-size:12px !important;
	}
}

@media (min-width:401px) and (max-width:580px){
	html body header.home #menu-principal .centralizar a#logo-link{display: none;}

	html body header.home #menu-principal .centralizar div.marca{
		height:120px;
		img{height:120px;}
		&:after{
			left:265px;
			top:56px;
		}	
	}
}

@media (min-width:401px) and (max-width:699px){
	html body header.home #menu-principal nav ul{
		padding:0 5px;
		margin-right: 0;
		padding:0 5px;
		height:auto;
		li a{
			font-size:14px;
			text-transform: lowercase;
			padding:0 7px
		}
	}	
}

/* MENU DAS INTERNAS */

@media (min-width:401px) and (max-width:480px){
	html body header:not(.home) #menu-principal{height: 92px;}
	html body header:not(.home) #menu-principal nav ul.inferior{
		margin-top:13px;
		margin-left:-60px !important;
	}	
}

@media (min-width:401px) and (max-width:580px){
	html body header .faixaTopo{font-size: 12px;}
	html body header:not(.home) #menu-principal nav ul li a{
		padding:0 2px;
		font-size:11px !important;
	}
}

@media (min-width:401px) and (max-width:660px){
	html body header:not(.home) #menu-principal nav ul li a{padding:0 5px !important;}
}