@import '../vars.less';

@media @small{
	html{
		h1,h2,h3{ br{display:none;}}
		body{
			/* TEMPLATE */
			#conteudo-principal{min-height: 500px;}
			header, header.home{
				height:140px;
				padding:0;
				.faixaTopo{display:none;}
				#menu-principal{
					position:relative;
					height: 176px;
					overflow:visible;
					overflow-x:hidden;
					.centralizar{
						#hamburguer-link{
							display:block;
							position: absolute;
							right:20px;
							top:20px;
							width:24px;
							height:30px;
							z-index: 999;
							img{
								width:24px;
								height:30px;
							}
						}
						#logo-link{
							display:none;
						}
						.marca{
							top:10px;
							left:10px;
							height:120px;
							z-index: 0;
							img{
								height:120px;
							}
							&:after{
								content:"";
								background:@roxo;
								width:10px;
								height:10px;
								position:absolute;
								left:266px;
								top:55px;
								.arredondada(100%);
							}
						}
					}
					nav{
						display:block;
						position:absolute;
						z-index:9999;
						top:0;
						left:110%;
						opacity:0;
						margin-top:0px;
						width:100%;
						height:140px;
						float:none;
						.transition;
						&.menu-mobile-aberto{
							left:0;
							opacity:1;
						}
						ul{
							padding:0;
							margin:0;
							height:auto;
							&.superior{
								display:block;
								position: absolute;
								top:35px;
								left:0;
								width:50%;
								height: auto;
								line-height: 100%;
								padding:0;
								margin:0;
								.arredondada(0);
								li{
									display:block;
									width:100%;
									&:after{display:none;}
									a{
										padding:0;
										display:block;
										border-left:1px @roxo solid;
										border-bottom:1px @roxo solid;
										&:after{display:none;}
									}
								}
							}
							&.inferior{
								display:block;
								position: absolute;
								top:0;
								right:0;
								width:50%;
								height: auto;
								line-height: 100%;
								padding:0;
								margin:0;
								.arredondada(0);
								li{
									display:block;
									width:100%;
									&:after{display:none;}
									&:first-child{
										width:200%;
										margin-left:-100%;
										background:@petroleo;
										border-left:0;
										border-right:0;
										border-bottom:0;
									}
									a{
										padding:0;
										display:block;
										border-right:1px @amarelo solid;
										border-bottom:1px @amarelo solid;
										&:after{display:none;}
									}
								}
							}
							li{
								height:35px;
								line-height:35px;
								a{
									font-size:15px !important;
									white-space: nowrap;
									overflow:hidden;
									text-align:left;
									text-indent:8px;
								}
							}
						}
					}
				}				
			}
			footer{
				.centralizar{
					.row{
						.columns{
							&:first-child h3, form{display:none;}							
							border-right: none;
							h2{
								.opensans(19px);
							}
							.row{
								border-left:1px #4F6C78 dotted;
								.footer-pad{
									padding-left:0;
									padding-right:0;
									padding-bottom:15px;
									&.mobile-reduzido{padding-top:5px;}
								}
							}
						}
					}
				}
			}
			/* FIM DO TEMPLATE */

			/* HOME */
			.faixaBanners{
				height:390px;
				& > .centralizar{
					height:390px;					
					#banners{
						width:100%;
						height:390px;
						position: absolute;
						top:0;
						left:0;
						.banner{
							background:transparent;
							height:390px;
							display:none;
							&:nth-child(1){display:block;}
							a{
								display:block;
								&:hover{
									& .ver-projeto, & + a .ver-projeto{
										background:@amarelo;											
									}
								}
							}
							.imagem-fundo{
								display:none;								
							}
							.imagem-frente{
								left:0;
								top:0;								
							}
							.texto{
								top:255px;
								padding:20px;
								background:@turquesa-escuro;
								max-width: 90%;
								width: 90%;
								position:relative;
								display:block;
								margin:0 auto;
							}							
						}
					}
				}
				#bannersControl{
					margin-top:-180px;
					padding-top:195px;
					height:185px;
					position: relative;
					z-index: 1;
					.centralizar{
						text-align: right;
						height:85px;
						a{
							.inline;
							width:10px;
							height:10px;
							margin:15px 10px 0 0;
							background: @turquesa-escuro;
							.arredondada(100%);
							.transition;
							&:hover, &.activeSlide{background: @turquesa-claro;}
						}
					}
				}			
			}
			.chamadas-home{
				padding-top:60px;
				h1#titulo-chamada-home{
					height:26px;
					line-height:26px;
					span{
						padding:0 15px;
						height:26px;
						.fauna(16px);
					}
					&:after{
						top:13px;
					}
				}
				ul{
					li{
						.chamada{
							width:100%;
							margin:0 auto;
							text-align: center;
							br{
								display:none;
							}
							p{
								.fauna(12px);
								margin:0;
							}
						}
					}
				}
			}
			.clientes-home{
				& > ul{
					& > li{
						&:nth-child(n+7){display:none;}
						a{
							background-size: 96px 64px;
							height:105px;
							&:hover{
								background-position: center 0px;
								background-size: 67px 45px;
							}
							& > .chamada_cliente{
								line-height: 120%;
								padding-top:45px;			
								.opensans(10px);	
							}
						}
					}
				}
			}
			.main-home{
				aside{
					display: none;
				}
				section{
					text-align: center;
					padding:0 10px;
					p{
						.fauna(16px);
					}
					h2{
						.opensans(24px);	
					}
					.cards-home{
						min-height: 432px;
						.card-1{display:none;}
						.card-4{display:none;}
						.card-5{display:none;}
						.card-2{
							margin-top:20px;
							display:block;
							margin:20px auto 0 auto;
							opacity:1 !important;
							-webkit-transform: rotateX(0deg) !important;
						}
						.card-3{
							float:none;
							display:block;
							margin:0 auto;
							opacity:1 !important;
							-webkit-transform: rotateY(0deg) !important;
						}
					}
				}
			}
			/* FIM DA HOME */

			/* PROJETOS */
			.conteudo-projetos{
				padding:20px 0;
				.row{white-space: nowrap;}
				.row *{white-space: normal;}
				aside{
					.inline;
					padding-left:20px !important;
					padding-right:20px !important;
					width:100%;
					.transition;
					h1{
						.opensans(20px);
						margin:0 0 5px 0;
					}
					& + .mobile-offscreen{
						height:0;
						overflow:hidden;
					}
					&.mob-offscreen{
						margin-left:-100%;
						& + .mobile-offscreen{
							height:auto;
						}	
					}
					nav{
						ul{
							border-top:1px @turquesa-claro solid;
							li{
								&:first-child{display:none;}
								height:35px;
								line-height:35px;
								display:block;
								border-bottom:1px @turquesa-claro solid;
								border-left:1px @turquesa-claro solid;
								border-right:1px @turquesa-claro solid;
								a{
									height:34px;
									text-indent: 30px;
									background:@petroleo-medio;									
									display:block;
								}				
							}
						}
					}
				}
				.mobile-offscreen{
					.inline;
					padding-left:20px !important;
					padding-right:20px !important;
					width:100%;
					.mobile-top{
						h1{
							.opensans(20px);
							color:@roxo;
							margin:0 0 5px 0;
							span{
								text-transform: lowercase;
								.opensans(18px);
							}
						}
						.mobile-voltar-projetos{
							color:@turquesa-claro;
							display:block;
							.opensans(11px);
							margin:10px 0 20px 0;
							.transition;
							&:active, &:visited{color:@turquesa-claro;}
							&:hover{color:@branco;}
							img{
								vertical-align: -4px;
								margin-right:5px;
							}
						}						
					}
					#lista-thumbs{
						width:100%;
						.item-portfolio{
							.inline;
							&.banners{
								display: none;						
							}
							&.thumb-redonda{
								margin:0 10px 15px 0px;
								width:110px;
								height:110px;
								position:relative;
								overflow: hidden;
								.arredondada(110px);
								.imagem{
									overflow: hidden;
									position:absolute;
									top:0;
									left:0;
									z-index:1;
									width:110px;
									height:110px;
									.arredondada(200px);
									img{
										max-width: 100%;
									}
								}
								.capa{
									padding-top: 20px;
									width:110px;
									height:110px;
									h1{
										margin:0;
										line-height: 100%;
										color:@turquesa-escuro;
										.opensans(11px);
									}
									h2{
										margin:10px auto;
										line-height: 135%;
										max-width: 110px;
										text-transform: uppercase;
										color:@amarelo;
										.opensans(14px);
										&:after{
											content:"ver detalhes";
											display: block;
											text-align: center;
											color:@amarelo;
											text-transform: lowercase;
											.fauna(9px);
										}
									}
									p{
										display:none;
									}
									ul{
										display:none;
									}
								}					
							}
							&.thumb-quadrada{
								width:110px;
								height:80px;
								position:relative;
								overflow: hidden;
								background:#fff;
								margin:0 1px 2px 1px;
								img{
									.transition;
									width:110px;
									filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		    						-webkit-filter: grayscale(0%);
								}							
							}
						}					
					}
				}
			}
			.barra-voltar{
				padding-left:20px;
				h1{
					.opensans(20px);
					color:@roxo;
					margin:0 0 5px 0;
				}
				.centralizar a.btn-voltar-topo{
					float:none;
					display:block;
					margin-top:3px;
					padding-left: 22px;
					.opensans(11px);										
				}
			}
			.detalhes{
				.btn-circular{
					.inline;
					img{
					}
				}
				&.superior{
					width:100%;
					.textual{
						width:100%;
						h1{font-size:20px;}
						.texto{
							p{font-size:11px;}
							ul{font-size:11px;}
						}
						ul.links{
							li{
								font-size:11px;
								height:20px;
								line-height:20px;
								.icone{
									height:17px;
									img{
										height:17px;
										width:auto;
										float:left;
									}
								} 
							}
						}
						.link-externo{}
					}				
				}
				.capa{
					display:none;
				}
				.reel{
					position: relative;
					padding-bottom: 56.25%; /* 16:9 */
					padding-top: 25px;
					height: 0;
					iframe{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				&.inferior{
					padding:30px 0;
					.btn-mais{display:none;}
					a.btn-circular{}
					.lista-imagens{
						width:100%;
						padding-bottom:15px;
						div.scrollme{
							&:nth-child(odd){float:none;}
							&:nth-child(even){float:none;}
							img{
								max-width:100%;
							}
						}
					}
				}
				.centralizar{
					.fixed-nav{
						text-align: center;
						position:relative;
						width:100%;
						height:auto;
						bottom:0;
						.btn-topo{display:none;}
					}
				}
			}
			/* FIM DOS PROJETOS */

			/* ATUAÇÃO: DESIGN & WEB */
			.titulo{
				padding-top:10px;
				& > h1{
					.opensans(20px);
					margin:0 0 5px 20px;
				}
			}
			.faixa-roxa{
				padding-bottom: 20px;
				border-bottom:30px @turquesa-escuro solid;
				h1{font-size:20px;}
				h2{font-size:16px;}
				ul.lista-areas{
					width:100%;
					padding:0;
					& > li{
						display:block;
						width:100%;
						height:auto;
						& > a{
							text-align:left;
							height:65px;
							padding:0 0 0 20px;
							.arredondada(0);
							span{
								float:left;
								line-height: 65px;
							}
							img{
								float:left;
								margin:5px 20px 0 0;								
							}
						}
						.texto-atuacao{
							display: none;
							position:relative;
							top:0;
							padding:10px 20px 20px 20px;
							margin-bottom: 20px;
							width:100%;
							.arredondada(0);
							.texto{
								width:100%;
								p{font-size:11px;}
							}
							.links{
								width:100%;
								margin-left:0px;
								display: block;								
							}
						}
						&.aberto{
							a{
								background:@magenta;
								color:@branco;
							}
							.texto-atuacao{
								display:block;
								.texto, .links{
									opacity:1;
								}
							}
						}
					}
				}
			}
			.ilustracao{display:none;}
			.btn-voltar-atuacao{
				padding:10px 0;
				a{
					background:@turquesa-escuro;
					color:@turquesa-claro;
					img{
						margin-right:10px;
						vertical-align: -1px;
					}
					.opensans(16px, 700);
					&:active, &:visited{color:@turquesa-claro;}
				}
			}
			.conteudo-servicos{
				padding:0 20px;
				.centralizar{ white-space: nowrap; }
				.centralizar *{ white-space: normal; }
				.centralizar aside{
					.inline;
					width:100%;
					max-width:100%;
					.transition;
					ul{margin:15px 0;}
					ul li a, ul li h2{
						font-size: 12px;
						line-height: 18px;
					}
				}
				.centralizar section{
					.inline;
					opacity:0;
					max-width:100%;
					width:100%;
					padding-bottom: 20px;
					.transition;
					.detalhe{
						padding:15px;
						box-sizing: border-box;
						width:100%;
						.arredondada(0 0 70px 0);
						h1{
							font-size: 20px;
						}
						.texto p{
							font-size: 12px;
						}
						.relacionados{
							a.relacao{
								display: block;
								margin:0 auto 10px auto;								
							}
						}
					}
					.outras-areas{
						padding:20px;
						text-align: left;
						.arredondada(15px);
						h2{
							.fauna(12px);
							margin:0 0 15px 0;
						}
						.lista-outras{
							height:auto;
							min-height:130px;
							a{
								width:25%;
								margin-left:0;
								margin-bottom: 20px;
								.opensans(12px);
								img{
									max-height: 40px;
								}
							}
						}
					}
				}
				&.mostrarSection{
					aside{
						opacity:0;
						overflow:hidden;
						width:0;
					}
					section{
						opacity:1;
					}
				}
			}
			/* FIM DE ATUAÇÃO: DESIGN & WEB */

			/* TRABALHE CONOSCO */
			.trabalhe-conosco{
				.titulo{
					padding-top:15px;			
					padding-left:20px;			
					h1{
						.opensans(20px);
						margin:0 0 5px 0;
					}
				}
				section{
					font-size:0;
					aside{
						margin-right:0px;
						margin-left:20px;
						width:90%;
						padding:15px 20px;
						.arredondada(0 0 50px 0);
						br{display:none;}
						h1{
							margin-bottom:5px;
							.opensans(16px);
						}
						h2{							
							.opensans(11px);
						}
					}
					.form{display: none;}
					.contem-link-cv{
						width: 100%;
						a{
							padding:30px 0;
							display:block;
							img{
								padding:0;
							}
						}
						img{
							padding:30px 0;
							display: block;
							max-width: 100%;
							margin:0 auto;
						}
					}			
				}
			}
			/* FIM DO TRABALHE CONOSCO */

			/* CONTATO */
			.contato{
				.titulo{
					padding-top:15x;			
					h1{
						.opensans(20px);
						margin:0 0 5px 20px;
					}
				}
				section{
					font-size:0;
					padding:0 20px;
					aside{
						margin-right: 0px;
						padding:15px 15px 40px 15px;
						width:100%;
						margin-bottom: 20px;
						.arredondada(0 0 50px 0);						
					}
					.form{
						width:100%;
						padding-bottom: 50px; 
						h2{
							.fauna(12px);							
						}
						h3{margin:0;}
						#formContato{
							.form-interno ol.perguntas li span label{
								.fauna(16px);
							}
							&.contato-finalizado input[type="submit"]{
								width:70%;
								box-sizing: border-box;
							}
						}
						#resposta-form{
							padding-top:30px;
							.fauna(12px);
						}
					}
				}
				.maps{
					display:none;
				}
			}
			/* FIM DO CONTATO */

			/* CONHEÇA A TRUPE */
			.conheca{
				#navegacao-conheca{
					ul{
						margin:0 0 0 20px;
					}
				}
			}
			.principal{
				.perfil{
					.faixa-escura{
						padding:30px 20px;
						aside{
							width:100%;
							padding-right:0px;
							h1{
								line-height: 120%;
								.opensans(20px);
								span{
									display:block;
									font-size:36px;
									line-height: 160%;
								}
							}
							p{
								.fauna(12px);
							}
						}
					}
					section{
						width:100%;
						p{
							.fauna(14px);
						}
						.galeria{
							.imagem{
								width:48%;
								height:48%;
								&:after{
									width:100%;
									height:100%;								
								}
								&:nth-of-type(3n + 2){
									margin-right:0px;
									margin-left:0px;
								}
								&:nth-of-type(2n+1){
									margin-right:5px;
								}								
							}
						}
					}
					.grafico{
						margin-left:0px;
						padding:0 20px 30px 20px;
						.anos{
							height:40px;
							line-height:40px;
							color:#46A1AA;
							.opensans(28px);
							.inicial{
								float:left;
								text-align: right;
								width:48%;
								margin-right:0px;
							}
							.atual{
								text-indent: 20px;
								width:48%;
								float:left;
								small{
									font-size:12px;
								}
							}
						}
						.linha{
							margin-bottom:15px;
							min-height:25px;
							height: auto;
							clear:both;
							&:after{
								content:"";
								clear:left;
							}
							.inicial{
								float:left;
								width:48%;
								margin-right:0px;						
								span{
									.inline;
									.opensans(10px);
									max-width: 40%;
								}
								.barra{
									height:10px;
									max-width: 58%;
								}
								.valor{
									font-size: 10px;
								}
							}
							.atual{
								width:48%;
								padding-left: 20px;
								.barra{
									height:10px;
									max-width: 80%;
								}
								.valor{
									font-size:10px; 
								}
							}
							&.fds{
								min-height: 45px;
								.inicial .barra{
									width:85px;									
								}
							}
							&.visitas{min-height: 45px;}
						}
						.obs{
							.opensans(10px);
							color:@turquesa-claro;
							margin-top: 15px;
						}
						&.barras-zero{
							.linha{
								.inicial .barra,
								.atual .barra{
									width:0;
								}
								.inicial .valor,
								.atual .valor{
									opacity:0;
								}
							}	
						}
					}
					.texto-inferior{
						margin-left:0px;
						padding:0 20px;
						h1{
							line-height:130%;
							.fauna(20px);							
						}
						h2{
							line-height:130%;
							.fauna(40px);
						}
						h3{
							line-height:130%;
							.fauna(15px);
						}
						p{
							padding:20px 0 30px 0;
							.fauna(12px);							
						}
					}
				}
				.clientes{
					h1{
						margin:30px 0 30px 20px;
						.opensans(14px);
					}
					.listaClientes{
						padding:30px 20px;
						.marca-cliente{
							width:48%;
							margin:1px;
						}
					}
				}
				.equipe{					
					padding:30px 0 70px 0;
					font-size:0;
					aside{
						display: block;
						width:90%;
						margin:0px 20px;
						padding:20px 20px 10px 20px;
						.arredondada(0 0 60px 0);
						h1{
							.opensans(20px);
						}
						p{
							.fauna(12px);
						}
					}
					section{
						display: block;
						width:100%;
						padding-left: 20px;
						box-sizing: border-box;
						h2{
							color:@turquesa-claro;
							.fauna(20px);
							margin:20px 0;
						}
						.destaque{
							margin:40px 0 20px 0;
							padding:0 20px 0 0;
							width:100%;
							.linha{
								width:100%;
								clear:left;
								min-height: 142px;
								height: auto;
								&:first-child .box{float:none;}
								.box{
									min-height: 142px;
									height: auto;
									width:100%;
								}
								.imagem{
									float:none;
									.inline;
								}
								.texto{
									margin-left:140px;
									padding:7px 8px;
									p{
										line-height: 130%;
										.fauna(11px);
										margin:0;
									}
								}
							}
						}
						p{
							.fauna(12px);
						}
						.listaEquipe{
							font-size: 0;
							.linha{
								width:100%;
								min-height:52px;
								margin-bottom: 10px;
								border-top:2px @turquesa-claro solid;
								overflow:hidden;
								.titulo{
									color:@amarelo-claro;
									.inline;
									width:30%;
									padding-top:5px;
									.opensans(12px);
								}
								.imagens-equipe{
									.inline;
									width:70%;
									white-space: nowrap;
									img{
										margin-left:30%;										
									}							
									&.segunda-linha{
										margin-left:30%;
									}
								}
							}
							&.mostrarImagens .linha .imagens-equipe img{
								opacity:1;
								margin-left:0px;
							}
						}
					}
				}
			}
			/* FIM DO CONHEÇA A TRUPE */

			/* CRIAÇÃO DE SITES */
			.faixa-turquesa{
				padding:15px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(16px);
					}					
				}
				.columns{padding:0 20px !important;}
			}
			.lista-areas{
				padding:35px 20px 80px 20px;
				.contem-area{
					margin:0 0 30px 0;
					padding:0;
					figure{
						margin:0;
						img{
							max-height: 60px;
						}
					}
					h2{
						margin:20px 0 10px 0;
						.fauna(16px);
						br{display: none;}
					}
					p{
						width:100%;
						padding:0;
						max-width:100%;
						margin:0;
						.fauna(11px);
					}
				}
				.destaque{
					margin-bottom: 30px;
					padding:20px;
					min-height: 0;
					width:100%;
					display: block;
					box-sizing: margin-box;
					.arredondada(10px 10px 30px 10px);
					&.esquerda{margin-right:0px;}
					&.direita{margin-left:0px;}
					figure{
						margin:0 auto;
						width:auto;
						max-width:auto;
						max-height: 60px;
						float:none;
						display:block;
						img{
							margin:0 auto;
							display:block;
							max-height: 60px;
						}
					}
					.paragrafos{
						min-height: 0;
					}
					h2{
						text-align: center;
						margin:5px 0;
						.fauna(16px);
					}
					p{
						text-align: center;
						.fauna(11px);	
					}
					p.strong{
						text-align: center;
						.opensans(14px);
					}
					.link-destaque{
						text-align: center;						
					}
				}
				.link-final{
					margin:0 0 20px 0;
					padding:0;
					a{
						height:auto;
						line-height:140%;
						padding:15px 0;
						width:100%;
						max-width: 100%;
						margin:0 auto;
						text-align: center;
						font-size: 14px;						
					}
				}
			}
			/* FIM DO CRIAÇÃO DE SITES */

			/* COMUNICAÇÃO E DESIGN */
			.faixa-amarela{
				padding:15px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(16px);
					}					
				}
				.columns{padding:0 20px !important;}
			}
			.lista-areas-comunicacao{
				padding:35px 20px 80px 20px;
				.contem-area{
					padding:0;
					margin:0 0 30px 0;
					figure{
						margin:0;
						img{
							max-height: 60px;
						}
					}
					h2{
						margin:20px 0 10px 0;
						.fauna(16px);
						br{display: none;}
					}
					p{
						width:100%;
						padding:0;
						max-width:100%;
						margin:0;
						.fauna(12px);
					}
				}
				.link-final{
					margin:0 0 20px 0;
					padding:0;
					a{
						height:auto;
						line-height:140%;
						padding:15px 0;
						width:100%;
						max-width: 100%;
						margin:0 auto;
						text-align: center;
						font-size: 14px;						
					}
				}
			}
			/* FIM DO COMUNICAÇÃO E DESIGN*/

			/* BRANDING */
			.faixa-amarela-escuro{
				padding:15px 0;				
				section{
					p{
						.fauna(11px);
					}
					h2{
						.opensans(16px);
					}					
				}
				.columns{padding:0 20px !important;}
			}
			.branding{
				padding:0 20px;
				h2{
					font-size:16px;
				}
			}
			/* FIM DE BRANDING */

			/* NOVIDADES */
			#swap-novidades{
				.faixa-roxa-novidades{
					padding:15px 20px;
					h2{
						font-size: 16px;
						margin:0 0 10px 0;
					}
					.detalhes-com-imagem{
						.imagem{
							width:100%;
							margin:0 0 10px 0;
							img{
								max-width: 100%;
							}
						}
						.texto{
							width:100%;
							p{
								font-size: 12px;
							}
						}
					}
					.detalhes-sem-imagem .texto p{font-size: 12px;}
				}
				.mais-novidades{
					padding:15px 20px 30px 20px;
					ul{
						li{
							height: auto;
							line-height: 120%;
							a{
								padding:5px 30px 5px 20px;
								font-size: 14px;								
							}
						}
					}
				}
			}
			/* FIM DO NOVIDADES */
		}
	}
}

@media (max-width: 319px){
	html body header.home div#menu-principal div.centralizar nav ul.superior li a,
	html body header.home div#menu-principal div.centralizar nav ul.inferior li a,
	html body header div#menu-principal div.centralizar nav ul.superior li a,
	html body header div#menu-principal div.centralizar nav ul.inferior li a{
		padding:0 !important;
		font-size:12px !important;
		text-transform: lowercase !important;
		text-indent: 3px;
	}
}

@media (max-width: 399px){
	html body header.home div#menu-principal div.centralizar nav ul.superior li a,
	html body header.home div#menu-principal div.centralizar nav ul.inferior li a,
	html body header div#menu-principal div.centralizar nav ul.superior li a,
	html body header div#menu-principal div.centralizar nav ul.inferior li a{
		
	}
}