@import '../vars.less';

@media @xlarge{
	html{
		&.is_mobile{
			/* Conheça - perfil */
			.titulo h1,
			.conheca #navegacao-conheca,
			.principal .perfil .faixa-escura aside{padding-left: 10px !important;}

			/* Conheça - Equipe */
			.principal .clientes{
				padding-left: 10px !important;	
			}
			.principal .clientes .listaClientes{
				text-align: center  !important;
			}

			/* Atuação - detalhes */
			.conteudo-servicos .centralizar aside ul{padding-left: 10px !important;}

			/* Trabalhe Conosco */
			.trabalhe-conosco section aside{ display:block; width:98% !important; margin:0 auto !important;}
			.trabalhe-conosco section aside br{display: none;}
			.trabalhe-conosco section aside .contem-link-cv{padding-top:30px; text-align: center;}

			/* Branding */
			.branding .listaBranding{max-width: 100%;}

			/* Projetos */
			.conteudo-projetos{
				aside{
					width: 20% !important;
					h1{
						margin:0 0 15px 20px !important;
					}
					nav{
						padding-left: 20px !important;
					}
				}
				.mobile-offscreen{
					width:80% !important;
				}
			}

			/* Novidades */
			#swap-novidades{
				.faixa-roxa-novidades,
				.mais-novidades{
					padding-left:10px;
					padding-right:10px;
				}
			}
		}
	}
}